<div>
    <div class="x_title">
        
        <div class="row">
          <h4 class="">Otras Especificaciones </h4>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="form-group form-animate-text " style="margin-top:5px !important;">
                  <h4>Materiales</h4>
                  <input type="number" class="form-text" disabled id="tmateriales"  name="tmateriales" value="0" oninput="calculartotalp();" onkeypress="return event.charCode>=48 && event.charCode<=57 || event.charCode==46 "  required>
                  <span class="bar"></span>
              </div>
          </div>
     
              <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group form-animate-text " style="margin-top:5px !important;">
                      <h4>Mano de obra</h4>
                      <input type="number" class="form-text" disabled id="tmanoobra" name="tmanoobra" value="0" oninput="calculartotalp();" onkeypress="return event.charCode>=48 && event.charCode<=57 || event.charCode==46 "  required> 
                      <span class="bar"></span>
                  </div>
              </div>
  
              </div>
              <div class="row">
                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group form-animate-text " style="margin-top:5px !important;">
                          <h4>Transporte</h4>
                          <input type="text" class="form-text" id="ttransporte"  name="ttransporte" oninput="calculartotalp();" pattern="^\d*(\.\d{0,1})?$" onkeypress="return event.charCode>=48 && event.charCode<=57 || event.charCode==46 " placeholder="0"  required>
                          <span class="bar"></span>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group form-animate-text " style="margin-top:5px !important;">
                          <h4>Solucion sanitaria</h4>
                          <input type="text" class="form-text"  id="solucionsan" name="solucionsan" oninput="calculartotalp();" pattern="^\d*(\.\d{0,1})?$" onkeypress="return event.charCode>=48 && event.charCode<=57 || event.charCode==46 " placeholder="0"  required>
                          <span class="bar"></span>
                      </div>
                  </div>
      
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group form-animate-text " style="margin-top:5px !important;">
                            <h4>Kit de emergencia</h4>
                            <input type="text" class="form-text" id="kitemerg" name="kitemerg" oninput="calculartotalp();" pattern="^\d*(\.\d{0,1})?$"  onkeypress="return event.charCode>=48 && event.charCode<=57 || event.charCode==46 " placeholder="0"  required>
                            <span class="bar"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group form-animate-text " style="margin-top:5px !important;">
                            <h4>Herramientas</h4>
                            <input type="text" class="form-text" id="herramientas" name="herramientas" oninput="calculartotalp();" pattern="^\d*(\.\d{0,1})?$"  onkeypress="return event.charCode>=48 && event.charCode<=57 || event.charCode==46 " placeholder="0"  required>
                            <span class="bar"></span>
                        </div>
                    </div>
        
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                                <h4>Total costos directos</h4>
                                <input type="text" class="form-text" disabled  id="totalcd" name="totalcd" pattern="^\d*(\.\d{0,1})?$"  value="0" onkeypress="return event.charCode>=48 && event.charCode<=57 || event.charCode==46 " required>
                                <span class="bar"></span>
                            </div>
                        </div>                           
                    </div>
     </div>
  