
<!-- /con la linea del extends se hereda lo que tiene el index -->
{% extends "TesisApp/base.html" %}
{% load static %}<!-- /carga lo que esta en la carpeta static para linkear-->

{% block titulo %}Grafica solicitudes Por Mes{% endblock titulo %}<!-- /el titulo del formulario-->
{% block uno %}<li><a href="{% url 'listarSN'%}">Listar SN</a></li>   {% endblock uno %}<!-- /Para el menu de formulario em la llave-->
{% block dos %}    {% endblock dos %}<!-- /Para el menu de formulario em la llave-->
{% block content %}<!-- /abrir el bloque de contenido-->
<div class="row tile_count">
    <div class="col-md-6 col-sm-6 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Cantidad Perfiles</span>
      <div class="count">{{cantidad}}</div>
     <!-- <span class="count_bottom"><i class="green">4% </i> From last Week</span>
    --> </div>
    </div>
  
                
        <div class="col-md-12 col-sm-12 col-xs-12">
        
          <form id="contact" name="contact" method="post" autocomplete="off">{% csrf_token %}
            <input type="hidden" id="bandera" name="bandera">
            <h2>N&uacute;mero de Perfiles por cada mes</h2>
            <div class="clearfix"></div>
          
          <div class="x_content">
            <canvas id="densityChart" width="400" height="200"></canvas> 
           <!--<canvas id="mybarChart"></canvas>--> 
          </div>
        
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="form-group form-animate-text " style="margin-top:5px !important;">
                <h4>Selecciones un mes</h4>
                  <div class="col-md-10 col-sm-10 ">
                      <select class="form-text" id="meses" name="meses" onclick="cambiarMes()"  required >
                          <option  selected></option>
                          <option value="1" >Enero</option>
                          <option value="2">Febrero</option>
                          <option value="3">Marzo</option>
                          <option value="4">Abril</option>
                          
                      </select>
                  </div>
                  <span class="bar"></span>
              </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h2>N&uacute;meros de Perfiles por dia</h2>
            
            <div class="clearfix"></div>
          
            <div class="x_content">
              <canvas id="speedChart" width="600" height="200"></canvas>
            </div>
        </div>
      </form>
    </div>
{% endblock %}
<!-- /cerrar el bloque de contenido-->

{% block js %}<!-- bloque para validaciones de input-->
<script type="text/javascript">
var densityCanvas = document.getElementById("densityChart");

Chart.defaults.global.defaultFontFamily = "Lato";//tipo de letra
Chart.defaults.global.defaultFontSize = 20;//tamaño de la letra

var densityData = {
  label: 'Nùmero de Perfiles Por mes',
  colorByPoint:true,
  data: ['{{en}}','{{fe}}','{{mar}}','{{abri}}','{{may}}','{{jun}}','{{jul}}','{{ago}}','{{sep}}','{{oct}}','{{nov}}','{{dic}}'],
  backgroundColor:[
        'rgba(255, 99, 132, 0.6)',
        'rgba(54, 162, 235, 0.6)',
        'rgba(255, 206, 86, 0.6)',
        'rgba(75, 192, 192, 0.6)',
        'rgba(153, 102, 255, 0.6)',
        'rgba(255, 159, 64, 0.6)',
        'rgba(255, 99, 132, 0.6)',
        'rgba(54, 162, 235, 0.6)',
        'rgba(255, 206, 86, 0.6)',
        'rgba(75, 192, 192, 0.6)',
        'rgba(153, 102, 255, 0.6)',
        'rgba(153, 102, 255, 0.6)',
        'rgba(255, 159, 64, 0.6)'
      ], // Color de fondo de las barras del grafico
  borderColor: [
        'rgba(255, 99, 132, 0.6)',
        'rgba(54, 162, 235, 0.6)',
        'rgba(255, 206, 86, 0.6)',
        'rgba(75, 192, 192, 0.6)',
        'rgba(153, 102, 255, 0.6)',
        'rgba(255, 159, 64, 0.6)',
        'rgba(255, 99, 132, 0.6)',
        'rgba(54, 162, 235, 0.6)',
        'rgba(255, 206, 86, 0.6)',
        'rgba(75, 192, 192, 0.6)',
        'rgba(153, 102, 255, 0.6)',
        'rgba(153, 102, 255, 0.6)',
        'rgba(255, 159, 64, 0.6)'
      ], // Color del borde de las barras
  borderWidth: 2,// Ancho del borde de las barras
  hoverBorderWidth: 0
};

var barChart = new Chart(densityCanvas, {
  type: 'bar',
  data: {
    labels: ["En", "Fe", "Mar", "Abr", "Ma", "Ju", "Jul","Ag", "Sep","Oc","Nov","Dic"],
    datasets: [densityData]
  }
});





</script>

<script>//para la grafica de lineas
var speedCanvas = document.getElementById("speedChart");

Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 18;

var speedData = {
  labels: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31],//para colocar la fecha
  datasets: [{
    label: "POR DIA",
    data: ['{{d1}}','{{d2}}','{{d3}}','{{d4}}','{{d5}}','{{d6}}','{{d7}}','{{d8}}','{{d9}}','{{d10}}',
    '{{d11}}','{{d12}}','{{d13}}','{{d14}}','{{d15}}','{{d16}}','{{d17}}','{{d18}}','{{d19}}','{{d20}}',
    '{{d21}}','{{d22}}','{{d23}}','{{d24}}','{{d25}}','{{d26}}','{{d27}}','{{d28}}','{{d29}}','{{d30}}','{{d31}}'],//para colocar el # de 
    
  borderColor: 'rgba(54, 162, 235, 0.6)',
  backgroundColor: 'transparent',
  }]
};

var chartOptions = {
  legend: {
    display: true,
    position: 'top',
    labels: {
      boxWidth: 80,
      fontColor: 'black'
    }
  }
};

var lineChart = new Chart(speedCanvas, {
  type: 'line',
  data: speedData,
  options: chartOptions,

});

    /*Chart$( document ).ready(function() {
 
 $('#meses').click(function() {
  var id = document.getElementById('meses').value;
      alert(id);
     $.ajax({   
   url: '/per/',
      success: function(data) {
         $('#id').html(data);
      },   
    });
 });
});*/
  </script>
{% endblock %}