<!-- /con la linea del extends se hereda lo que tiene el index -->
{% extends "TesisApp/base.html" %}
{% load static %}<!-- /carga lo que esta en la carpeta static para linkear-->
{% block head %} 
{% endblock head %}
{% block titulo %}Asignar Zona{% endblock titulo %}<!-- /el titulo del formulario-->
{% block uno %}<li><a href="">Listar Zonas</a></li> {% endblock uno %}<!-- /Para el menu de formulario em la llave-->
{% block dos %}    {% endblock dos %}<!-- /Para el menu de formulario em la llave-->
{% block content %}<!-- /abrir el bloque de contenido-->

<form id="contact" name="contact" action="registrarZona1/" method="post" autocomplete="off">{% csrf_token %}
  <input type="hidden" id="bandera" name="bandera">


  <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
          <h4>Nombre Zona </h4>
          
            <select class="form-text" id="zona" name="zona" required >
                <option value="0" disabled>Seleccione una Zona</option>
                {% for d in ZonaAgencia %}
                <option value="{{d.Id}}">{{d.NombreZona}} - {{d.IdAgencia.Nombre}}</option>
                {% endfor %} 
            </select>
   
          <span class="bar"></span>
      </div>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Seleccione el Departamento</h4>
        <select id="departamento" class="form-text" name="departamento" onchange="cambiarMunicipio()" required> 
            <option  selected disabled>Seleccione un Departamento... </option> 
            {% for d in Departamento %}
            <option value="{{d.Id}}" >{{d.NombreDepa}}</option>
            {% endfor %}
        </select>
        
        <span class="bar"></span>
    </div>
</div>


<div class="col-md-6 col-sm-12 col-xs-12">
  <div class="form-group form-animate-text " style="margin-top:5px !important;">
      <h4>Municipio</h4>
      <select name="municipio" id="municipio" onchange="cambiarDistrito()" class="form-text" required> 
          <option selected disabled >- 
          </select> 
      
      <span class="bar"></span>
  </div>
</div>

<div class="col-md-6 col-sm-12 col-xs-12">
  <div class="form-group form-animate-text " style="margin-top:5px !important;">
      <h4>Distrito</h4>
      <select name="distrito" id="distrito" class="form-text" required> 
          <option selected disabled>- 
          </select> 
      
      <span class="bar"></span>
  </div>
</div>
<br>
  <div class="form-group">
      <div class="col-md-12 col-md-offset-2">
          <button id="btnguardar" name="btnguardar" data-toggle="sweet-alert" data-sweet-alert="confirm" type="submit" class="btn btn-success" 
              style="width:200px; height:40px;">Guardar</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn btn-warning" style="width:200px; height:40px;" type="reset">Cancelar</button>
      </div>
  </div>
</form>

{% endblock %}
<!-- /cerrar el bloque de contenido-->

{% block js %}<!-- bloque para validaciones de input-->
<script type="text/javascript">
    $(document).ready(function(){

$.validator.addMethod("letras", function(value, element) {
return /^(?!.*(.)\1{2})[ a-zA-Záéíóúüñ.]*$/i.test(value);
}, "<h2>Ingrese sólo letras sin repetir más de 2 veces o espacios..</h2>");

$("#contact").validate({
  errorElement: "em",
  errorPlacement: function(error, element) {
    $(element.parent("div").addClass("form-animate-error"));
    error.appendTo(element.parent("div"));
  },
  success: function(label) {
    $(label.parent("div").removeClass("form-animate-error"));
  },
  
  rules: {
   zona:{
      required:true
    },
    departamento:{
        required:true
    },
    municipio:{
        required:true
    },
    distrito:{
        required:true
    },
  },
  messages: {
   
   zona:{
        required : "<h2>Seleccione una zona </h2>"
    },
    departamento:{
        required : "<h2>Seleccione un departamento </h2>"
    },
    municipio:{
        required:"<h2>Seleccione un municipio</h2>"
    },
    distrito:{
        required:"<h2>Seleccione un distrito</h2>"
    }
  }
});

$("#btnguardar").click(function(){
    if($("#contact").valid()){
        
    }else{
      alertE("Debe Registrar Datos Validos!");
      return false;
    }
    });

});

function cambiarMunicipio(){
        let depa=document.contact.departamento[document.contact.departamento.selectedIndex].value
        //alert(depa);
        let url='mu/?departamento='+depa;
        fetch(url)
        .then(function(result){
            return result.text();
        })
        .then(function(result){
            document.getElementById('municipio').innerHTML=result;
            cambiarDistrito();
        });

        
    }

    function cambiarDistrito(){        
        let mun=document.contact.municipio[document.contact.municipio.selectedIndex].value
        let url='dis/?municipio='+mun;
        
        fetch(url)
        .then(function(result){
            return result.text();
        })
        .then(function(result){
            document.getElementById('distrito').innerHTML=result;
        });
        
    }


</script>



{% endblock %}