<!-- /con la linea del extends se hereda lo que tiene el index -->
{% extends "TesisApp/base.html" %}
{% load static %}<!-- /carga lo que esta en la carpeta static para linkear-->
{% block titulo %}Modificar Tipo de Operaciones{% endblock titulo %}<!-- /el titulo del formulario-->

{% block content %}<!-- /abrir el bloque de contenido-->

<form id="mtoperaciones" name="mtoperaciones" action="/ConfiguracionApp/ModificarTO/" method="post" autocomplete="off">{% csrf_token %}
    <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <input type="hidden" id="idt" name="idt" value="{{to.Id}}">
            <h4>Tipo de Operación</h4>
            <input type="text" class="form-text" id="toperacion" name="toperacion" value="{{to.Nombre}}" onkeyup="Mayusculas(this)" required>
            <span class="bar"></span>
        </div>
    </div>
    
    </div>
    <BR><BR>
    <div class="form-group">
        <div class="col-md-12 col-md-offset-2">
            <button id="btnguardar" name="btnguardar" type="submit" class="btn btn-success"
                style="width:200px; height:40px;">Guardar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" class="btn btn-warning" style="width:200px; height:40px;">Cancelar</button>
        </div>
    </div>
</form>
{% endblock %}
<!-- /cerrar el bloque de contenido-->

{% block js %}<!-- bloque para validaciones de input-->
<script type="text/javascript">
    $(document).ready(function(){

$.validator.addMethod("letras", function(value, element) {
return /^(?!.*(.)\1{2})[ a-zA-Záéíóúüñ.]*$/i.test(value);
}, "<h2>Ingrese sólo letras sin repetir más de 2 veces o espacios..</h2>");

$("#mtoperaciones").validate({
  errorElement: "em",
  errorPlacement: function(error, element) {
    $(element.parent("div").addClass("form-animate-error"));
    error.appendTo(element.parent("div"));
  },
  success: function(label) {
    $(label.parent("div").removeClass("form-animate-error"));
  },
  
  rules: {
    toperacion:{
      minlength:6,
      required: true,
      letras:true,
      maxlength:50
    },
  

  },
  messages: {
    toperacion:{
        required : "<h2>Debe ingresar el Tipo de operación</h2>",
        minlength : "<h2>El tipo de operación debe tener un minimo de 6 caracteres</h2>",
        maxlength : "<h2>El tipo de operación debe tener un maximo de 50 caracteres</h2>"
    },
   
  }
});

$("#btnguardar").click(function(){
if($("#mtoperaciones").valid()){

}else{
  alertE("Debe Registrar Datos Validos!"); 
  return false;
}
});// fin de btnguardar


});

function Mayusculas(input) {
  input.value = input.value.toUpperCase();
}
</script>
{% endblock %}