<!-- /con la linea del extends se hereda lo que tiene el index -->
{% extends "TesisApp/base.html" %}
{% load static %}<!-- /carga lo que esta en la carpeta static para linkear-->
{% block titulo %}Modificar Materiales{% endblock titulo %}<!-- /el titulo del formulario-->

{% block content %}<!-- /abrir el bloque de contenido-->



<form id="mmaterialInv" name="mmaterialInv" action="/ConfiguracionApp/ModificarMat/" method="post" autocomplete="off">{% csrf_token %}
    <div class="row">
      
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <input type="hidden" id="idm" name="idm" value="{{material.Id}}">
            <h4>Nombre</h4>
            <input type="text" class="form-text" id="nombremt" name="nombremt" value="{{material.Nombre}}" onkeyup="Mayusculas(this)" required>
            <span class="bar"></span>
        </div>
    </div>
    </div>
    <div class="row" >
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <h4>Descripción</h4>
            <input type="text" class="form-text" id="descripcionmt" name="descripcionmt" value="{{material.Descripcion}}" onkeyup="Mayusculas(this)" required>
            <span class="bar"></span>
        </div>
    </div>
 
    </div>
    <div class="row" >
       
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group form-animate-text " style="margin-top:5px !important;">
                    <h4>Unidad</h4>
                    <input type="text" class="form-text" id="unidadmt" name="unidadmt" value="{{material.Unidad}}" onkeyup="Mayusculas(this)" required>
                    <span class="bar"></span>
                </div>
            </div>
            
          </div>
     <BR><BR>
    <div class="form-group">
        <div class="col-md-12 col-md-offset-2">
            <button id="btnguardar" name="btnguardar" type="submit" class="btn btn-success"
                style="width:200px; height:40px;">Guardar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-warning" type="reset" style="width:200px; height:40px;">Cancelar</button>
        </div>
    </div>


</form>


{% endblock %}
<!-- /cerrar el bloque de contenido-->

{% block js %}<!-- bloque para validaciones de input-->
<script type="text/javascript">
    $(document).ready(function(){

$.validator.addMethod("letras", function(value, element) {
return /^(?!.*(.)\1{2})[ a-zA-Záéíóúüñ.]*$/i.test(value);
}, "<h2>Ingrese sólo letras sin repetir más de 2 veces o espacios..</h2>");
$.validator.addMethod("letrasn", function(value, element) {
    return /^(?!.*(.)\1{2})[ a-zA-Záéíóúüñ0-9,ºª.]*$/i.test(value);
}, "<h2>Ingrese un dato valido ..</h2>");
$.validator.addMethod("letrassinb", function(value, element) {
    return /^(?!.*(.)\1{2})[ a-zA-Záéíóúüñ0-9,ºª. % # * + / -]*$/i.test(value);
}, "<h2>Ingrese un dato valido ..</h2>");

$("#mmaterialInv").validate({
  errorElement: "em",
  errorPlacement: function(error, element) {
    $(element.parent("div").addClass("form-animate-error"));
    error.appendTo(element.parent("div"));
  },
  success: function(label) {
    $(label.parent("div").removeClass("form-animate-error"));
  },
  
  rules: {
    nombremt:{
      minlength:4,
      required: true,
      letras:true,
      maxlength:50
    },
    descripcionmt:{
      minlength:5,
      required: true,
      letrassinb:true,
      maxlength:100
    },
    unidadmt:{
      minlength:1,
      required: true,
      letrasn:true,
      maxlength:10
    },
  
  
  },
  messages: {
    nombremt:{
        required : "<h2>Debe ingresar el nombre</h2>",
        minlength : "<h2>EL nombre debe tener un minimo de 4 digitos</h2>",
        maxlength : "<h2>EL nombre debe tener un maximo de 50 digitos</h2>"
    },
    descripcionmt:{
        required : "<h2>Debe ingresar la descripción</h2>",
        minlength : "<h2>La descripción debe tener un minimo de 5 digitos</h2>",
        maxlength : "<h2>La descripción debe tener un maximo de 100 digitos</h2>"
    },
    unidadmt:{
        required : "<h2>Debe ingresar la unidad</h2>",
        minlength : "<h2>La unidad debe tener un minimo de 1 digitos</h2>",
        maxlength : "<h2>La unidad debe tener un maximo de 10 digitos</h2>"
    },
  
  }
 
 
});

$("#btnguardar").click(function(){
if($("#materialInv").valid()){  

}else{
  alertE("Debe Registrar Datos Validos!");
  return false;
}
});// fin de btnguardar

});

function Mayusculas(input) {
  input.value = input.value.toUpperCase();
}
</script>
{% endblock %}