<!-- /con la linea del extends se hereda lo que tiene el index -->
{% extends "TesisApp/base.html" %}
{% load static %}<!-- /carga lo que esta en la carpeta static para linkear-->
{% block titulo %}Lista de Rangos de Financimiento{% endblock titulo %}<!-- /el titulo del formulario-->

{% block content %}<!-- /abrir el bloque de contenido-->
<style type="text/css">
  .align-right {
    text-align: right;
    max-width: 80px
  }

  .align-left {
    text-align: left;
    max-width: 80px
  }

  .align-center {
    text-align: center;
    max-width: 80px
  }
</style>
<form id="contact" name="contact" action="registrarDocu/" enctype="multipart/form-data" method="post"
  autocomplete="off">{% csrf_token %}
  <input type="hidden" id="bandera" name="bandera">

  <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:5px !important;">
      <h4>Alternativas de Financiamiento</h4>
      <select class="form-text" id="id" name="id" onchange="cargarLista()" required>
        <option value="0">Seleccione una Alternativa</option>
        {% for al in alternativa %}
        <option value="{{al.Id}}">{{al.Alternativa}}</option>
        {% endfor %}
      </select>
      <span class="bar"></span>
    </div>
  </div>
  </div>
  </div>
</form>

<p></p>
<table id="table-rangosFin" class="table table-striped table-bordered"
  style="th.dt-center, td.dt-center { text-align: center; }">
  <thead>
    <tr style=" background: #1a1b1b; color: #dff0f2; font-weight: bold; font-size: 14px; ">
      <th>
        <center>#</center>
      </th>
      <th>
        <center>Salarios</center>
      </th>
      <th colspan="1">
      <center>Monto Minimo</center>
      </th>
      <th colspan="1">
        <center>Monto Maximo</center>
      </th>
      <th colspan="1">
        <center>Veces Financiado</center>
      </th>
      <th colspan="1">
        <center>Opción</center>
      </th>
    </tr>
  </thead>


  <tbody id="grupo" name="grupo" style="color: #000000; ">

  </tbody>
</table>

{% endblock %}
<!-- /cerrar el bloque de contenido-->
{% block js %}
<script>
  $(document).ready(function () {
    $('#table-rangosFin').DataTable({
      responsive: true,
      language: {
        url: "{% static 'TesisApp/table/es-ar.json' %}" //Ubicacion del archivo con el json del cambio de idioma.
      }
    });
  });
  function cargarLista() {
    let id = document.getElementById('id').value;
    $('#table-rangosFin').dataTable().fnClearTable(true);	//limpio la tabla
        
    $.ajax({
      url: "../lisAltRan/?id=" + id,
      type: "get",
      headers: { "X-CSRFToken": '{{ csrf_token }}' },
      dataType: "json",
      success: function (lista_rangos) {
        
        for (i = 0; i < lista_rangos.length; i++) {
          $('#table-rangosFin').dataTable().fnAddData([
            "<center>" + (i + 1) + "</center>",
            "<center>" + lista_rangos[i].salario + "</center>",
            "<center>" + lista_rangos[i].minimo + "</center>",
            "<center>" + lista_rangos[i].maximo + "</center>",
            "<center>" + lista_rangos[i].vecesF + "</center>",
            "<center>" +
            '<a href="/ConfiguracionApp/modiRanFin/' + lista_rangos[i].id +
            '" class="btn btn-info"></i>Editar</a>' + "</center>"]
          );
        }

      },
      error: function (error) {
        console.log("cargarMaterial", error);
      }
    });
  }
</script>


{% endblock %}