<!-- /con la linea del extends se hereda lo que tiene el index -->
{% extends "TesisApp/base.html" %}
{% load static %}<!-- /carga lo que esta en la carpeta static para linkear-->
{% block titulo %}Lista de Salarios{% endblock titulo %}<!-- /el titulo del formulario-->

{% block content %}<!-- /abrir el bloque de contenido-->

<table id="example" class="table table-striped table-bordered">
  <thead>
    <tr style=" background: #1a1b1b; color: #dff0f2; font-weight: bold; font-size: 14px; ">
      <th>#</th>
      <th>Tipo</th>
      <th>Salario Maximo</th>
      <th>Salario Minimo</th>
      <th>Estado</th>
      <th> Opción </th>
      <th> Opción </th>
    </tr>
  </thead>


  <tbody style="color: #27575c;">
    {% for s in salarios %}
    <tr>
      <td>{{s.Id}} </td>
      <td>{{s.TipoSala}}</td>
      <td>{{s.SalarioMaxi}}</td>
      <td>{{s.SalarioMini}}</td>
      <td>{{s.Estado}}</td>

      {% if s.Estado == "activo" %}
      <td><a href="editarSalario/{{s.Id}}" class="btn btn-info">Editar</a></td>
      <td><a href="darBaja/{{s.Id}}" class="btn btn-danger">Dar de Baja</a></td>
      {% elif s.Estado == "inactivo" %}
      <td><a style="display: none;" class="btn btn-danger"></a></td>
      <td><a style="display: none;" class="btn btn-danger"></a></td>
      {% endif %}

    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
<!-- /cerrar el bloque de contenido-->
{% block js %}
<script>
  $(document).ready(function () {
    $('#example').DataTable({
      responsive: true,
      language: {
        url: "{% static 'TesisApp/table/es-ar.json' %}" //Ubicacion del archivo con el json del cambio de idioma.
      }
    });
  });

</script>

{% endblock %}

