<input type="hidden" id="passDSN" name="passDSN" value="0">
<div> <!-- Detalle de la solicitud -->

  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Monto a Solicitar</h4>
        <input type="text" class="form-text" id="montoNE" name="montoNE" maxlength="7" minlength="2"
          value="{{soli.7.Monto}}" onkeypress="return event.charCode>=48 && event.charCode<=57 || event.charCode==46 " onchange="validarMontoNat(this)"
          required>
        <span class="bar"></span>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Plazo Solicitado</h4>
        <input type="text" class="form-text" id="plazoNE" name="plazoNE" maxlength="50" minlength="4"
          value="{{soli.7.Plazo}}" required>
        <span class="bar"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Cuota Proyectada</h4>
        <input type="text" class="form-text" id="cuotaNE" name="cuotaNE" maxlength="50" minlength="4"
          value="{{capacidaPago.Cuota}} " disabled required>
        <span class="bar"></span>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Forma de Pago</h4>
        <select class="form-text" id="formaPagoNE" name="formaPagoNE">
          <option value="Ventanilla">Ventanilla</option>
          <option value="OPI">OPI</option>
        </select>
        <span class="bar"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Fecha que solicita pagar</h4>
        <input type="text" class="form-text" id="FechaPagoNE" name="FechaPagoNE" maxlength="25" minlength="4"
          value="{{soli.7.FechaPago}}" required>
        <span class="bar"></span>
      </div>
    </div>

  </div>

</div><!-- / fin Detalle de la solicitud -->