
<!-- /con la linea del extends se hereda lo que tiene el index -->
{% extends "TesisApp/base.html" %}
{% load static %}<!-- /carga lo que esta en la carpeta static para linkear-->
{% block titulo %}Lista Solicitudes Imcompletas{% endblock titulo %}<!-- /el titulo del formulario-->
{% block uno %} {% endblock uno %}<!-- /Para el menu de formulario em la llave-->
{% block dos %}    {% endblock dos %}<!-- /Para el menu de formulario em la llave-->

{% block content %}<!-- /abrir el bloque de contenido-->


                    <table id="listaSolicitudesInco" class="table table-striped table-bordered">
                      <thead>
                        <tr style=" background: #1a1b1b; color: #dff0f2; font-weight: bold; font-size: 14px; ">
                          <th>#</th>
                          <th>Dui</th>
                          <th>Nombre</th>
                          <th>Teléfono</th>
                          <th>Fecha</th>
                          <th>Ocupación</th>
                          <th>estado</th>
                          <th > Opción </th>
                          
                        </tr>
                      </thead>

                      <tbody style="color: #27575c;">
                        {% for s in solicitudes %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{s.IdPerfil.Dui}}</td>
                          <td>{{s.IdPerfil.Nombres}} {{s.IdPerfil.Apellidos}}</td>
                          <td>{{s.IdPerfil.Telefono}}</td>
                          <td>{{s.Fecha |date:'d-m-Y'}}</td>
                          <td>{{s.IdPerfil.IdOcupacion.Ocupacion}}</td>
                          <td>{{s.Estado}}</td>

                          <td><a href="editarSolicitudN/{{s.Id}}" class="btn btn-warning">Editar</a></td>
                          
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% endblock %}
                    <!-- /cerrar el bloque de contenido-->
                    
{% block js %}
<script>
  $(document).ready(function() {    
      
      $('#listaSolicitudesInco').DataTable({
          responsive: true,
          language: {
          url: "{% static 'TesisApp/table/es-ar.json' %}" //Ubicacion del archivo con el json del cambio de idioma.
          }
          
      });
  });
</script>
{% endblock %}