<!-- /con la linea del extends se hereda lo que tiene el index -->
{% extends "TesisApp/base.html" %}
{% load static %}<!-- /carga lo que esta en la carpeta static para linkear-->
{% block titulo %}Registro Persona{% endblock titulo %}<!-- /el titulo del formulario-->
{% block uno %}Listar Persona   {% endblock uno %}<!-- /Para el menu de formulario em la llave-->
{% block dos %}    {% endblock dos %}<!-- /Para el menu de formulario em la llave-->


{% block content %}<!-- /abrir el bloque de contenido-->
{% endblock %}