<div class="content"> <!-- tabla para domicilio y lugar de microempresa -->
  <input type="hidden" id="passDLM" name="passDLM" value="0">
  <input type="hidden" id="passDLMC" name="passDLMC" value="0">
  <input type="hidden" id="idDomicilioCC" name="idDomicilioCC" value="{{soli.5.Id}}">

  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <h2>DATOS DE SOLICITANTE</h2>
      <h3><span></span></h3>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <h2>DATOS DEL FIADOR</h2>
      <h3><span></span></h3>
    </div>

  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Dirección actual del domicilio</h4>
        <input type="text" class="form-text" id="direActS" name="direActS" maxlength="50" minlength="6"
          value="{{soli.0.IdPerfil.Direccion}}{{cliente.Direccion}}" disabled required>
        <span class="bar"></span>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Dirección actual del domicilio</h4>
        <input type="text" class="form-text" id="direActC" name="direActC" maxlength="50" minlength="6"
          value="{{soli.5.Direccion}}" required>
        <span class="bar"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Punto de referencia</h4>
        <input type="text" class="form-text" id="puntoRefS" name="puntoRefS" maxlength="50" minlength="6"
          value="{{soli.4.Referencia}}" required>
        <span class="bar"></span>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Punto de referencia</h4>
        <input type="text" class="form-text" id="puntoRefC" name="puntoRefC" maxlength="50" minlength="6"
          value="{{soli.5.Referencia}}" required>
        <span class="bar"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Teléfono</h4>
        <input type="text" class="form-text"
          onkeypress="validarTel(this);return event.charCode>=48 && event.charCode<=57 " id="telefonoS" name="telefonoS"
          maxlength="9" minlength="9" value="{{soli.0.IdPerfil.Telefono}}{{cliente.Telefono}}" disabled required>
        <span class="bar"></span>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Teléfono
        </h4>
        <input type="text" class="form-text"
          onkeypress="validarTel(this);return event.charCode>=48 && event.charCode<=57 " id="telefonoC" name="telefonoC"
          maxlength="9" minlength="9" value="{{soli.5.Telefono}}" required>
        <span class="bar"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Reside desde</h4>
        <input type="text" class="form-text" id="resideS" name="resideS" maxlength="50" minlength="4"
          value="{{soli.4.ResideDesd}}" required>
        <span class="bar"></span>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Reside desde</h4>
        <input type="text" class="form-text" id="resideC" name="resideC" maxlength="50" minlength="4"
          value="{{soli.5.ResideDesd}}" required>
        <span class="bar"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Condición de vivienda </h4>
        <input type="text" class="form-text" id="condicionS" name="condicionS" maxlength="50" minlength="4"
          value="{{soli.4.CondicionVivi}}" required>
        <span class="bar"></span>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Condición de vivienda </h4>
        <input type="text" class="form-text" id="condicionC" name="condicionC" maxlength="50" minlength="4"
          value="{{soli.5.CondicionVivi}}" required>
        <span class="bar"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Actividad de la microempresa </h4>
        <input type="text" class="form-text" id="actividadS" name="actividadS" maxlength="50" minlength="4"
          value="{{soli.4.ActividadMicr}}" required>
        <span class="bar"></span>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Actividad de la microempresa </h4>
        <input type="text" class="form-text" id="actividadC" name="actividadC" maxlength="50" minlength="4"
          value="{{soli.5.ActividadMicr}}" required>
        <span class="bar"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Lugar de la microempresa </h4>
        <input type="text" class="form-text" id="lugrMicroS" name="lugrMicroS" maxlength="50" minlength="4"
          value="{{soli.4.LugarTrab}}" required>
        <span class="bar"></span>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Lugar de la microempresa </h4>
        <input type="text" class="form-text" id="lugrMicroC" name="lugrMicroC" maxlength="50" minlength="4"
          value="{{soli.5.LugarTrab}}" required>
        <span class="bar"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Tiempo de funcionamiento de la microempresa </h4>
        <input type="text" class="form-text" id="tiempoS" name="tiempoS" maxlength="50" minlength="4"
          value="{{soli.4.TiempoEmprTieFun}}" required>

        <span class="bar"></span>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Tiempo de funcionamiento de la microempresa </h4>
        <input type="text" class="form-text" id="tiempoC" name="tiempoC" maxlength="50" minlength="4"
          value="{{soli.5.TiempoEmprTieFun}}" required>
        <span class="bar"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Ingreso(Utilidad neta mensual) </h4>
        <input type="text" class="form-text"
          onkeypress="return event.charCode>=48 && event.charCode<=57 || event.charCode==46  " id="salarioS"
          name="salarioS" maxlength="7" minlength="2" value="{{estado.Mensual}}" disabled
          required>

        <span class="bar"></span>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Ingreso(Utilidad neta mensual) </h4>
        <input type="text" class="form-text"
          onkeypress="return event.charCode>=48 && event.charCode<=57 || event.charCode==46 " id="salarioC"
          name="salarioC" maxlength="7" minlength="2" value="{{soli.5.SalarioIngr}}" required>
        <span class="bar"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Dirección de microempresa </h4>   
        <input type="text" class="form-text" id="direccionMS" name="direccionMS" maxlength="100" minlength="4" value="{{soli.4.DireccionTrabMic}}"
          required>
        <span class="bar"></span>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Dirección de microempresa </h4>
        <input type="text" class="form-text" id="direccionMC" name="direccionMC" maxlength="100" minlength="4"
          value="{{soli.5.DireccionTrabMic}}" required>
        <span class="bar"></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Teléfono de microempresa </h4>
        <input type="text" class="form-text"
          onkeypress="validarTel(this);return event.charCode>=48 && event.charCode<=57 " id="telefonoMS"
          name="telefonoMS" maxlength="9" minlength="9" value="{{soli.4.TelefonoTrabMic}}" required>

        <span class="bar"></span>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Teléfono de microempresa </h4>
        <input type="text" class="form-text"
          onkeypress="validarTel(this);return event.charCode>=48 && event.charCode<=57 " id="telefonoMC"
          name="telefonoMC" maxlength="9" minlength="9" value="{{soli.5.TelefonoTrabMic}}" required>
        <span class="bar"></span>
      </div>
    </div>
  </div>





</div><!-- / fin tabla para domicilio y lugar de microempresa -->