<!-- /con la linea del extends se hereda lo que tiene el index -->
{% extends "TesisApp/base.html" %}
{% load static %}<!-- /carga lo que esta en la carpeta static para linkear-->
{% block titulo %}Lista de Solicitudes Denegadas{% endblock titulo %}<!-- /el titulo del formulario-->

{% block content %}<!-- /abrir el bloque de contenido-->
<form id="contact" name="contact" action="" enctype="multipart/form-data" method="post" autocomplete="off">{% csrf_token%}
  <input type="hidden" id="bandera" name="bandera">

  <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
          <h4>Agencias</h4>
          <select class="form-text" id="id" name="id" onchange="cargarLista()" required>
              <option value="0">Seleccione una agencia</option>
              {% for a in agencia %}
              <option value="{{a.Id}}">{{a.Nombre}}</option>
              {% endfor %}
          </select>
          <span class="bar"></span>
      </div>
  </div>
  </div>
  </div>
</form>
<table id="table-SoliDA" class="table table-striped table-bordered">
  <thead>
    <tr style=" background: #1a1b1b; color: #dff0f2; font-weight: bold; font-size: 14px; ">
      <th>#</th>
      <th>Dui</th>
      <th>Nombre</th>
      <th>Teléfono</th>
      <th>Agencia</th>
      <th> Opción </th>
      <th> Opción </th>
    </tr>
  </thead>

  <tbody style="color: #27575c;">
    {% for s in solicitudes %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{s.IdPerfil.Dui}}</td>
      <td>{{s.IdPerfil.Nombres}} {{ s.IdPerfil.Apellidos}}</td>
      <td>{{s.IdPerfil.Telefono}}</td>
      <td>{{s.IdPerfil.IdAgencia.Nombre}}</td>
      <td><a href="solDen/{{s.Id}}" class="btn btn-info">Reporte</a></td>
      <td><a href="evaluarSolDen/{{s.Id}}" class="btn btn-info">Evaluar</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
<!-- /cerrar el bloque de contenido-->
{% block js %}
<script>
  $(document).ready(function () {
    $('#table-SoliDA').DataTable({
      responsive: true,
      language: {
        url: "{% static 'TesisApp/table/es-ar.json' %}" //Ubicacion del archivo con el json del cambio de idioma.
      }
    });
  });

  function cargarLista() {
    let id = document.getElementById('id').value;

    $('#table-SoliDA').dataTable().fnClearTable(true);	//limpio la tabla

    $.ajax({
      url: "/SolicitudesApp/agencDA/?id=" + id,
      type: "get",
      headers: { "X-CSRFToken": '{{ csrf_token }}' },
      dataType: "json",
      success: function (listaCli) {

        for (i = 0; i < listaCli.length; i++) {
          $('#table-SoliDA').dataTable().fnAddData([
            "<td>" + (i + 1) + "</td>",
            "<td>" + listaCli[i].dui + "</td>",
            "<td>" + listaCli[i].nombre +' '+ listaCli[i].apellido +  "</td>",
            "<td>" + listaCli[i].telefono + "</td>",
            "<td>" + listaCli[i].agencia + "</td>",
            "<center>" + '<a href="solDen/' + listaCli[i].id +'" class="btn btn-info"></i>Reporte</a>' + "</center>",
            "<center>" + '<a href="evaluarSolDen/' + listaCli[i].id +'" class="btn btn-info"></i>Evaluar</a>' + "</center>"]
          );
        }
      },
      error: function (error) {
        console.log("cargarCliente", error);
      }
    });
  }
</script>


{% endblock %}