<!-- /con la linea del extends se hereda lo que tiene el index -->
{% extends "TesisApp/inicio.html" %}
{% load static %}<!-- /carga lo que esta en la carpeta static para linkear-->
{% block content %}<!-- /abrir el bloque de contenido-->

<div class="right_col" role="main">
  
    <div class="clearfix"></div>
    <br><br>
    <br> <br><br> <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="x_panel">
              <div class="x_title">
                  <h2>Cambio de contraseña</h2>
                  <div class="clearfix"></div>
              </div>
              <div class="x_content">
  <!-- /contenido cambiante en la demas paginas -->
  <form  method="POST" >
    {% csrf_token%}
    
    <div class="form-group">
       {% if form.non_field_errors %}
           {% for error in form.non_field_errors %}
               <div class="alert alert-danger alert-dismissible" role="alert">
                   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                       <span aria-hidden="true" class="fas fa-envelope">&times;</span>
                   </button>
                   <strong>Advertencia:</strong> {{error}}
               </div>
           {% endfor %}
       {% endif%}
       <label>Contraseña</label>
       {{form.password}}

        <!--<input type="email" class="form-control" placeholder="Ingrese el correo" name="username">-->
    </div>
    <div class="form-group">
       <label>Repita la contraseña</label>
       {{form.confirmPassword}}
        
    </div>
    <button type="submit" class="btn btn-success"><i class="fa fa-lock"></i> Cambiar contraseña</button>
   </form>
  
  

                  
              </div>
          </div>
      </div>
  </div>
  
  
  
  
  
  
  
  </div>

{% endblock %}
<!-- /cerrar el bloque de contenido-->

{% block js %}<!-- bloque para validaciones de input-->
<script type="application/javascript">
    $(function(){
        $('form').on('submit', function(e){
            //alertC("Esta seguro de cambiar la contraseña")
            //alertC("Contraseña modificada")
          location.href='login/'
        });
    });
</script>
{% endblock %}