<ul class="nav side-menu">
                 
    <li><a><i class="fa fa-home"></i> Direcci&oacute;n <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="{% url 'depto'%}">Registro Departamento</a></li>
        <li><a href="{% url 'listarDepto'%}">Lista de Departamento</a></li>
        <li><a href="{% url 'muni'%}">Registro Municipio</a></li>
        
      </ul>
    </li>

    <li><a><i class="fa fa-gear"></i> Configuraciones Generales <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
      <li><a><i class="fa fa-home"></i> Direcci&oacute;n <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="{% url 'depto'%}">Registro Departamento</a></li>
          <li><a href="{% url 'listarDepto'%}">Registro Departamento</a></li>
          <li><a href="{% url 'muni'%}">Registro Municipio</a></li>
          
        </ul>
      </li>
      
        <li><a href="{% url 'ocupacion'%} " >Registro de Ocupacion</a></li>
        <li><a href="{% url 'listaOcupacion'%} " >Lista de Ocupacion</a></li>
        <li><a href="{% url 'salario'%}">Registro de Salario</a></li>
        <li><a href="{% url 'listaSalario'%} " >Rangos de salario</a></li>
        <li><a href="{% url 'enfermedad'%} " >Registro de Enfermedades</a></li>
        <li><a href="{% url 'listaEnfer'%} " >Lista de Enfermedades</a></li>
        <li><a href="{% url 'materiales'%} " >Registro de Materiales</a></li>
        <li><a href="{% url 'listaMater'%} " >Lista de Materiales</a></li>
        <li><a href="{% url 'toperacion'%} " >Registrar tipo de operacion Lote</a></li>
        <li><a href="{% url 'infraestructura'%} " >Registrar Infraestructura Mejora</a></li>
        
      </ul>
    </li>
    <li><a><i class="fa fa-renren"></i> Agencia <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="{% url 'registroAgencias'%}">Registro de Agencia</a></li>
        <li><a href="{% url 'listarAgencias'%}">Lista de Agencias</a></li>
        <li><a href="{% url 'zonaAgencia'%}">Registro de Zona</a></li>
        <li><a href="{% url 'asignarZona'%}">Asignar Zona</a></li>
      </ul>
    </li>
    <li><a><i class="fa fa-users"></i> Cliente <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="{% url 'perfil'%}">Perfil de Cliente</a></li>
        
        <li><a href="{% url 'listaPerfil'%}">Lista de Cliente</a></li>
      </ul>
    </li>
    

    
    <li><a><i class="fa fa-edit"></i> Solicitud <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="{% url 'solicitudMicro'%}">Solicitud cliente</a></li>
        <li><a href="{% url 'solicitudMicro'%}">Solicitud Microempresa</a></li>
        <li><a href="{% url 'listaSolicitud'%}">Solicitudes</a></li>
        <li><a href="{% url 'listaSC'%}">Lista de Cliente</a></li>
        
        
        
        <li><a href="{% url 'listarSN'%}">Lista de solicitud personal</a></li>
      </ul>
    </li>
    <li><a><i class="fa fa-clone"></i> Inspecci&oacute;n <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="{% url 'solicitudMicro'%}"></a></li>
        <li><a href="{% url 'solicitudMicro'%}">Solicitudes</a></li>
        <li><a href="{% url 'solicitudMicro'%}"></a></li>
      </ul>
    </li>

    
    <li><a><i class="fa fa-renren"></i>Configuracion<span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="{% url 'listaCC'%}">Lista</a></li>
        <li><a href="{% url 'listarAgencias'%}">Lista</a></li>
        
      </ul>
    </li>
                    
    

    <li><a><i class="fa fa-gear"></i>Graficas<span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="{% url 'Grafica'%}">Grafica 1</a></li>
        <li><a href="{% url 'Gporyear'%}">Grafica 2</a></li>
        <li><a href="{% url 'graf1'%}">Grafica Persona Natural</a></li>
        <li><a href="{% url 'graf2'%}">Grafica Microempresa</a></li>
        
      </ul>
    </li>

   </ul>

 

