<ul class="nav side-menu">
                 
    
  <li><a><i class="fa fa-gear"></i> Configuraciones Generales <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
      <li><a><i class="fa fa-home"></i> Direcci&oacute;n <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="{% url 'listarDepto'%}">Lista de Departamentos</a></li>
          <li><a href="{% url 'listarMuni'%}">Lista de Municipios</a></li>
          <li><a href="{% url 'listarDistrito'%}">Lista de Distritos</a></li>
         
        </ul>
      </li>
      
      
      <li><a><i class="fa fa-renren"></i> Salario <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          
          <li><a href="{% url 'listaSalario'%} " >Rangos de salario</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-renren"></i> Intereses <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          
          <li><a href="{% url 'listarTasa'%}">Lista tasa int</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-renren"></i> Alternativas  <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          
          <li><a href="{% url 'listarAl'%}">Lista de alternativas</a></li>
          
          <li><a href="{% url 'listaRanFin'%}">Lista de rangos de financiamiento</a></li>
                      
        </ul>
      </li>

      <li><a><i class="fa fa-renren"></i> Modelo de vivienda<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          
          <li><a href="{% url 'listaModeloV'%}">Lista de modelo de vivienda</a></li>
         
        </ul>
      </li>

      <li><a><i class="fa fa-renren"></i> DICOM<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          
          <li><a href="{% url 'listaRango'%} " >Lista Rangos DICOM</a></li>       
        </ul>
      </li>
      
      <li><a><i class="fa fa-renren"></i> Ocupación <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="{% url 'ocupacion'%} " >Registro de Ocupación</a></li>
          <li><a href="{% url 'listaOcupacion'%} " >Lista de Ocupación</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-renren"></i> Tipo de operación <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="{% url 'toperacion'%} " >Registrar tipo de operación</a></li>
          <li><a href="{% url 'listaToperaciones'%} " >Lista de tipo de operación</a></li>        
        </ul>
      </li>

    </ul>
  </li>
  
  <li><a><i class="fa fa-users"></i> Cliente <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
      <li><a href="{% url 'perfil'%}">Perfil de Cliente</a></li>
      <li><a href="{% url 'listaClientes' id=request.user.agencia.Id%}">Administrar Clientes</a></li>
      <li><a href="{% url 'listaPerfilNA' id=request.user.agencia.Id%}">Lista de Perfiles N/A</a></li> 
      
      
    </ul>
  </li>
  
  
  
  <li><a><i class="fa fa-edit"></i> Solicitud <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
      <li><a><i class="fa fa-renren"></i> Solicitud Personal <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="{% url 'listaRFN' id=request.user.agencia.Id%} " >Listado Reportes Comité</a></li>
          
          <li><a href="{% url 'listarSNCA' id=request.user.agencia.Id%}">Listado Solicitudes por Agencia</a></li> 
          <!--li><a href="# " >Listado Solicitudes por Agencia</a></li-->        
          
        </ul>
      </li>
      <li><a><i class="fa fa-renren"></i> Solicitud Microempresa <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="{% url 'listaRF' id=request.user.agencia.Id%} " >Listado Reportes Comité</a></li>
          
          <li><a href="{% url 'listaSCA' id=request.user.agencia.Id%}">Listado Solicitudes por Agencia</a></li>   
           
        </ul>
      </li>
    </ul>
  </li>
 
  <li><a><i class="fa fa-file-o"></i> Reportes <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
      <li><a href="{% url 'listaHis'%}">Historial</a></li>
      <li><a href="{% url 'listaCC' id=request.user.agencia.Id %}">Conozca a su Cliente</a></li>
      <li><a href="{% url 'listaDJ' id=request.user.agencia.Id %}">Declaración Jurada</a></li>
      <li><a href="{% url 'listaIS' id=request.user.agencia.Id %}">Inscripción Seguro</a></li>
      
    </ul>
  </li>


  <li><a><i class="fa fa-bar-chart-o"></i>Graficas<span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
      <li><a href="{% url 'grafAgenciaP'%}">Grafica Perfiles por Agencia</a></li>
      <li><a href="{% url 'grafAgenciaPN'%}">Grafica Perfiles N por Agencia</a></li>
      <li><a href="{% url 'graficaAT'%}">Grafica Agencia Tipo</a></li>
      <li><a href="{% url 'graficaATS'%}">Grafica Agencia Tipo Sol</a></li>
      <li><a href="{% url 'graficaASolic'%}">Grafica Agencia Estado Sol</a></li>
      <li><a href="{% url 'grafTipoSol'%}">Grafica Tipo Soli</a></li>
      
      
    </ul>
  </li>
  <li><a><i class="fa fa-database"></i> Bitacora <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
      <li><a href="{% url 'listaBit'%}">Lista </a></li>
      
    </ul>
  </li>

 </ul>



