<option value="Carpintero/a">Carpintero/a</option>
<option value="Fontanero/a">Fontanero/a</option>
<option value="Montador/a de cristales y vidrios">Montador/a de cristales y vidrios</option>
<option value="Montador/a de cristales y vidrios">Montador/a de cristales y vidrios</option>
<option value="Montador/a de cristales y vidrios">Montador/a de cristales y vidrios</option>
<option value="Pintor/a">Pintor/a</option>
<option value="Auxiliar contable">Auxiliar contable</option>
<option value="Cerrajero/a">Cerrajero/a</option>
<option value="Operario/a de logística">Operario/a de logística</option>
<option value="Panadero/a">Panadero/a</option>
<option value="Mecánico/a">Mecánico/a</option>
<option value="Cultor/a de belleza">Cultor/a de belleza</option>
<option value="Peluquero/a">Peluquero/a</option>
<option value="Peluquero/a de mascotas">Peluquero/a de mascotas</option>
<option value="Carnicero/a">Carnicero/a</option>
<option value="Joyero/a">Joyero/a</option>
<option value="Zapatero/a">Zapatero/a</option>
<option value="Soldador/a">Soldador/a</option>
<option value="Soldador/a">Soldador/a</option>
<option value="Chapista de vehículos">Chapista de vehículos</option>
<option value="Chapista de vehículos">Chapista de vehículos</option>
<option value="Barnizador">Barnizador</option>
<option value="Lutier">Lutier</option>
<option value="Conductor/a">Conductor/a</option>
<option value="Alfarero/a">Alfarero/a</option>
<option value="Ebanista">Ebanista</option>
<option value="Albañil">Albañil</option>
<option value="Herrero">Herrero</option>
<option value="Tatuador/a">Tatuador/a</option>
<option value="Maquillador/a">Maquillador/a</option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>

