<datalist id="parentesco-list">
    <option value="Padre">Padre</option>
    <option value="Madre">Madre</option>
    <option value="Suegro">Suegro</option>
    <option value="Suegra">Suegra</option>
    <option value="Hijo">Hijo</option>
    <option value="Hija">Hija</option>
    <option value="Yerno">Yerno</option>
    <option value="Nuera">Nuera</option>
    <option value="Abuelo">Abuelo</option>
    <option value="Abuela">Abuela</option>
    <option value="Nieto">Nieto</option>
    <option value="Nieta">Nieta</option>
    <option value="Hemano">Hemano</option>
    <option value="Hermana">Hermana</option>
    <option value="Cuñado">Cuñado</option>
    <option value="Cuñada">Cuñada</option>
    <option value="Bisabuelo">Bisabuelo</option>
    <option value="Bisabuela">Bisabuela</option>
    <option value="Biznieto">Biznieto</option>
    <option value="Biznieta">Biznieta</option>
    <option value="Tio">Tio</option>
    <option value="Tia">Tia</option>
    <option value="Sobrino">Sobrino</option>
    <option value="Sobrina">Sobrina</option>
    <option value="Primo">Primo</option>
    <option value="Prima">Prima</option>
</datalist>