<div>
    <div class="x_title">
        
        <div class="row">
          <h4 class="">Declaro bajo Juramento que: </h4>
        </div>
      </div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
      
      <label> <input type="radio" class="flat" name="fond" id="fond" value="" checked required /> Los fondos que utilizaré para cancelar el crédito, que este dia me otorga Asociación HPH El Salvador procedera de: </label> 
                        
      <span class="bar"></span>
    </div>
    </div>
</div>
<div class="x_title">
  <div class="row">
    <h6 class="">ACTIVIDAD ECONÓMICA(PARA PERSONA NATURAL) </h6>
  </div>
</div>
<span class="section"></span>
<div class="row">
  <div class="col-md-6 col-sm-12 col-xs-12"><!-- /comienzo columna  izquierda-->
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
      <h4>Empleado en</h4>
      <input type="text" class="form-text" id="empleadoen" name="empleadoen" value="{{dja.EmpleadoEn}}" >
      <span class="bar"></span>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12"><!-- /comienzo columna  derecha-->
    <div class="form-group form-animate-text " style="margin-top:5px !important;">
      <h4>Profesión independiente en</h4>
      <input type="text" class="form-text" id="profecionind" name="profecionind" value="{{dja.ProfecionalInde}}"   >
      <span class="bar"></span>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12"><!-- /comienzo columna  izquierda-->
        <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Conocimiento en</h4>
        <input type="text" class="form-text" id="conocimientoen" name="conocimientoen" value="{{dja.ConocimientosEn}}"  >
        <span class="bar"></span>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12"><!-- /comienzo columna  derecha-->
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Empresario en</h4>
        <input type="text" class="form-text" id="empresarioen" name="empresarioen" value="{{dja.EmpresarioEn}}"  >
        <span class="bar"></span>
      </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12"><!-- /comienzo columna  izquierda-->
            <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <h4>Otros, especifique</h4>
            <input type="text" class="form-text" id="otrosesp" name="otrosesp" value="{{dja.EspecificarOtraAct}}"   >
            <span class="bar"></span>
          </div>
        </div>
        </div>
    <input type="hidden" id="passAE" name="passAE" value="0">
  </div>
<div>
  <div class="x_title">
    <div class="row">
      <h6 class="">GIRO DEL NEGOCIO AL QUE SE DEDICA</h6>
    </div>
  </div>

<div class="row">
  <div class="col-md-6 col-sm-12 col-xs-12"><!-- /comienzo columna  izquierda-->
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
      <h4>Empresa de</h4>
      <input type="text" class="form-text" id="empresad" name="empresad" value="{{djn.Empresa}}"  >
      <span class="bar"></span>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12"><!-- /comienzo columna  derecha-->
    <div class="form-group form-animate-text " style="margin-top:5px !important;">
      <h4>Industria de</h4>
      <input type="text" class="form-text" id="industiad" name="industiad" value="{{djn.IndustriaDe}}"  >
      <span class="bar"></span>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12"><!-- /comienzo columna  izquierda-->
        <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Comercio de</h4>
        <input type="text" class="form-text" id="comerciod" name="comerciod" value="{{djn.ComercioDe}}"  >
        <span class="bar"></span>
      </div>
    </div>
        <div class="col-md-6 col-sm-12 col-xs-12"><!-- /comienzo columna  izquierda-->
            <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <h4>Otros, especifique</h4>
            <input type="text" class="form-text" id="espotros" name="espotros" value="{{djn.EspecificarOtro}}"  >
            <span class="bar"></span>
          </div>
        </div>
    </div>
    <div class="row">
       
        <div class="col-md-12 col-sm-6 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:0px !important;">
            <label>Este credito será cancelado de acuerdo a las cuotas y plazos establecidos por Asociación HPH El Salvador:</label> &nbsp;&nbsp;
            {% if dj.CanceladoAcueCuo == "Si" %} 
            Si
            <div class="iradio_flat-green ">
              <input type="radio" class="flat"  name="creditocan" value="Si" checked required>
              <ins class="iCheck-helper"></ins>
            </div>&nbsp;
            No
            <div class="iradio_flat-green ">
              <input type="radio" class="flat" name="creditocan" value="No"  required>
              <ins class="iCheck-helper"></ins>
            </div>
            {% else %}
            Si
            <div class="iradio_flat-green ">
              <input type="radio" class="flat"  name="creditocan" value="Si" required>
              <ins class="iCheck-helper"></ins>
            </div>&nbsp;
            No
            <div class="iradio_flat-green ">
              <input type="radio" class="flat" name="creditocan" value="No" checked required>
              <ins class="iCheck-helper"></ins>
            </div>
            {% endif %}
          </div>
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-12 col-sm-6 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:0px !important;">
            <label>Tengo proyectado realizar pagos adicionales a las cuotas establecidas:</label> &nbsp;&nbsp;
            {% if dj.RealizarPagoAdi == "Si" %} 
            Si
            <div class="iradio_flat-green ">
              <input type="radio"   name="rpagosa" value="Si" onchange="HDpa(this.value);" checked  required>
              <ins class="iCheck-helper"></ins>
            </div>&nbsp;
            No
            <div class="iradio_flat-green ">
              <input type="radio"  name="rpagosa" value="No" onchange="HDpa(this.value);"   required>
              <ins class="iCheck-helper"></ins>
            </div>
            {% else %}
            Si
            <div class="iradio_flat-green ">
              <input type="radio"   name="rpagosa" value="Si" onchange="HDpa(this.value);"  required>
              <ins class="iCheck-helper"></ins>
            </div>&nbsp;
            No
            <div class="iradio_flat-green ">
              <input type="radio"  name="rpagosa" value="No" onchange="HDpa(this.value);"  checked required>
              <ins class="iCheck-helper"></ins>
            </div>
            {% endif %}

          </div>
        </div>
    </div>
    <div class="row">
     <div class="col-md-12 col-sm-12 col-xs-12"><!-- /comienzo columna  izquierda-->
        <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Procendencia de los fondos</h4>
        <input type="text" class="form-text" id="procedenciaf" name="procedenciaf" value="{{dj.ProcedenciaFond}}" >
        <span class="bar"></span>
      </div>
    </div>
  </div>
    <input type="hidden" id="passGN" name="passGN" value="0">
</div>


