
      <div>           
        <div class="x_title">
            <div class="row">
              <h2 class="">Plan de Mejoramiento de Vivienda </h2>
            </div>
          </div>
        <table class="table">         
          <tbody id="tbetapas" >
            <tr>
              <th width="10%">ETAPA 1</th>
              <td>
                <input type="hidden" id="valETP" name="valETP" value="etapa 1" >
                <div class="form-group form-animate-text  " style="margin-bottom:0px !important;"
                  style="padding-bottom:0px !important;">
                  <input type="text" class="form-text" id="etapa" name="etapa" maxlength="300" minlength="1"  required>
                </div>
              </td>
            </tr>
            <tr>
              <th>ETAPA 2</th>
              <td>
                <input type="hidden" id="valETP" name="valETP" value="etapa 2" >
                <div class="form-group form-animate-text  " style="margin-bottom:0px !important;"
                  style="padding-bottom:0px !important;">
                  <input type="text" class="form-text" id="etapa" name="etapa" maxlength="300" minlength="1"  required>
                </div>
              </td>
            </tr>
            <tr>
              <th>ETAPA 3</th>
              <td>
                <input type="hidden" id="valETP" name="valETP" value="etapa 3" >
                <div class="form-group form-animate-text  " style="margin-bottom:0px !important;"
                  style="padding-bottom:0px !important;">
                  <input type="text" class="form-text" id="etapa" name="etapa" maxlength="300"  minlength="1"  required>
                </div>
              </td>
            </tr>
                    
          </tbody>
        </table>

        <div class="x_title">
            <div class="row">
              <h2 class="">Factibilidad Técnica del Proyecto </h2>
            </div>
          </div>
          <span class="section"></span>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-group form-animate-text " style="margin-top:10px !important;">
                <label>Factibilidad Técnica del Proyecto:</label> &nbsp;
                Procede
                <div class="iradio_flat-green ">
                  <input type="radio" class="flat"  name="factpm" id="factpm" value="Procede" checked required>
                  <ins class="iCheck-helper"></ins>
                </div>&nbsp;&nbsp;&nbsp;
                Procede con Condicionamiento
                <div class="iradio_flat-green ">
                  <input type="radio" class="flat"  name="factpm" id="factpm" value="Procede con Condicionamiento" required>
                  <ins class="iCheck-helper"></ins>
                </div>&nbsp;&nbsp;&nbsp;
                No Procede
                <div class="iradio_flat-green ">
                  <input type="radio" class="flat" name="factpm" id="factpm" value="No Procede" required>
                  <ins class="iCheck-helper"></ins>
                </div>&nbsp;&nbsp;&nbsp;
                Para Valoración como Caso Especial
                <div class="iradio_flat-green ">
                  <input type="radio" class="flat" name="factpm" id="factpm" value="Para Caso Especial" required>
                  <ins class="iCheck-helper"></ins>
                </div>
              </div>
            </div>
           
            </div>
            <br> <br> 
            <div>    
                <div class="x_title">
                  <div class="row">
                    <h2 class="">Descripción de Mejoramiento Acordado con el Cliente </h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group form-animate-text " style="margin-top:5px !important;">
                    <h4>Descripción de Mejoramiento Acordado con el Cliente </h4>
                    <textarea  class="form-text" id="descripcionma" name="descripcionma"  style="height: 50px;" ></textarea>
                    <span class="bar"></span>
                  </div>
                </div>
              </div>
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group form-animate-text " style="margin-top:5px !important;">
                        <h4>Dias de Construcción Estimados</h4>
                        <input type="text" class="form-text" id="diasestm" name="diasestm"  required>
                        <span class="bar"></span>
                      </div>
                    </div>

                    </div>
                    <div class="row">   
                      <div class="col-md-6 col-sm-12 col-xs-12" id="esquemaDiv">
                        <div class="form-group form-animate-text " style="margin-top:5px !important;">
                            <h4>Subir Archivo de esquema de ubicación del sitio </h4>
                            <input type="file" name="esquemaubicacions" id="esquemaubicacions" accept="image/*"  >
                            <span class="bar"></span>
                        </div>
                    </div>   
                    <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group form-animate-text " style="margin-top:5px !important;">
                          <h4>Subir de esquema de ubicación del mejoramiento </h4>
                          <input type="file" name="esquemaubicacionm" id="esquemaubicacionm" accept="image/*"  >
                          <span class="bar"></span>
                      </div>
                  </div>
                  
                 </div>
                    <input type="hidden" id="passGN" name="passGN" value="0">
                </div>
        
      </div><!-- / fin Detalle de la solicitud -->