<!-- /con la linea del extends se hereda lo que tiene el index -->
{% extends "TesisApp/base.html" %}
{% load static %}<!-- /carga lo que esta en la carpeta static para linkear-->
{% block titulo %}Modificar Lista de Chequeo{% endblock titulo %}<!-- /el titulo del formulario-->
{% block uno %}{% endblock uno %}<!-- /Para el menu de formulario em la llave-->
{% block dos %} {% endblock dos %}<!-- /Para el menu de formulario em la llave-->


{% block content %}
 <!-- Agrega el estilo CSS aquí -->
 <style>
  /* Estilo del checkbox */
  .verificarCheck {
      /* Establece el tamaño del checkbox */
      width: 20px;
      height: 20px;
      /* Cambia el color de fondo cuando el checkbox está marcado (seleccionado) */
      background-color: #007bff !important; /* Cambia esto al color que desees */
      /* Elimina el borde por defecto del checkbox */
      border: none;
      /* Añade un margen para separar el checkbox de la etiqueta */
      margin-right: 10px; /* Cambia esto según tus preferencias */
      /* Establece el cursor en puntero para indicar que se puede hacer clic */
      cursor: pointer;
      /* Oculta el checkbox por defecto */
      opacity: 1;
  }


  /* Cambia el color del checkbox marcado (seleccionado) */
  .verificarCheck:checked {
      background-color: #007bff !important; /* Cambia esto al color que desees */
  }
</style>
<!-- /abrir el bloque de contenido-->
<div id="wizard" class="form_wizard wizard_horizontal" style="overflow: hidden !important;">

  <ul class="wizard_steps anchor">
    <li>
      <a href="#step-1" class="selected" isdone="1" rel="1">
        <span class="step_no">1</span>
        <span class="step_descr"><small>Datos generales</small> </span>
      </a>
    </li>
    <li>
      <a href="#step-2" class="done" isdone="1" rel="2">
        <span class="step_no">2</span>
        <span class="step_descr"><small>Constancia de Ingresos </small> </span>
      </a>
    </li>
    <li>
      <a href="#step-3" class="done" isdone="1" rel="3">
        <span class="step_no">3</span>
        <span class="step_descr"><small>Información Técnica</small> </span>
      </a>
    </li>
    <li>
      <a href="#step-4" class="done" isdone="1" rel="4">
        <span class="step_no">4</span>
        <span class="step_descr"><small>Documentos</small> </span>
      </a>
    </li>
  </ul>
<div class="stepContainer" style="overflow: hidden !important;">
<form style="overflow: hidden !important;"  id="mlistaCh" name="mlistaCh" action="" method="post" autocomplete="off">{% csrf_token %}
  <div id="step-1" class="content" style="display: block; height: 575px !important;">
  <div class="row">
    <div class="col-md-9 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <input type="hidden" id="idlc" name="idlc" value="{{lc.Id}}">
        <h4>Nombre del Cliente</h4>
        <input type="text" class="form-text" id="nombrec" name="nombrec" value="{{lc.IdSolicitud.IdPerfil.Nombres}} {{lc.IdSolicitud.IdPerfil.Apellidos}}"  disabled>
        <span class="bar"></span>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Fecha</h4>
        <input type="date" class="form-text" id="fecha" name="fecha" onchange="validarFecha(this)" value="{{lc.Fecha|date:'Y-m-d'}}" required>
        <span class="bar"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-5 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Agencia</h4>
        <input type="text" class="form-text" id="agencia" name="agencia" value="{{lc.IdSolicitud.IdPerfil.IdAgencia.Nombre}}" disabled>
        <span class="bar"></span>
      </div>
    </div>
  </div>
  <div class="x_title">
    <div class="row">
      <h2 class="">Información del Solicitante y Fiador: </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <label>1. Solicitud de Cliente</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <input type="checkbox" class="verificarCheck"  name="solicitudc" id="solicitudc" value="Si" >
        <ins class="iCheck-helper"></ins>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">     
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <label>2.1 Fotocopias del DUI del Cliente</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;" style="background-color: #007bff;">
        <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}" data-nombred="duiDoc" data-ids= "{{lc.IdSolicitud.Id}}">
        <input type="checkbox" class="verificarCheck" name="fotocDN" id="fotocDN" value="Si"  >
        <ins class="iCheck-helper"></ins>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">     
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <label>2.2 Fotocopias del NIT del Cliente</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}" data-nombred="nitDoc" data-ids= "{{lc.IdSolicitud.Id}}">
        <input type="checkbox" class="verificarCheck"   name="fotocDN" id="fotocDN" value="Si"  >
        <ins class="iCheck-helper"></ins>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <label>3.1 Recibos del último mes, cancelados de agua</label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="aguaDoc" data-ids= "{{lc.IdSolicitud.Id}}">
        <input type="checkbox" class="verificarCheck"   name="recibosuma" id="recibosuma" value="Si" >
        <ins class="iCheck-helper"></ins>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <label>3.2 Recibos del último mes, cancelados de luz </label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="luzDoc" data-ids= "{{lc.IdSolicitud.Id}}">
        <input type="checkbox" class="verificarCheck"   name="recibosuml" id="recibosuml" value="Si" >
        <ins class="iCheck-helper"></ins>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <label>3.3 Recibos del último mes, cancelados de teléfono</label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="telDoc" data-ids= "{{lc.IdSolicitud.Id}}">
        <input type="checkbox" class="verificarCheck"   name="recibosumt" id="recibosumt" value="Si" >
        <ins class="iCheck-helper"></ins>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <label>6.1 Referencias Crediticias del solicitante  </label>
        &nbsp;&nbsp;
      </div>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="referenciasCreDoc" data-ids= "{{lc.IdSolicitud.Id}}">
        <input type="checkbox" class="verificarCheck"   name="referenciacs" id="referenciacs" value="Si" >
        <ins class="iCheck-helper"></ins>
      </div>
    </div>
  </div>
</div>
<div id="step-2" class="content" style="display: none; height: 820px !important;">
  {% include "ListaChequeoApp/editarListaChequeope.html" %}
</div>
<div id="step-3" class="content" style="display: none; height: 900px !important;">
  {% include "ListaChequeoApp/editarListaChequeoit.html" %}
</div>
<div id="step-4" class="content" style="display: none; height: 700px !important;">
  {% include "ListaChequeoApp/editarListaChequeodoi.html" %}
</div>
</form>
</div>
</div>

{% endblock %}
<!-- /cerrar el bloque de contenido-->

{% block js %}<!-- bloque para validaciones de input-->
<script type="text/javascript">
     $(document).ready(function(){

   //establecer valor de los checkbox 
  $("input[type='checkbox'][name='solicitudc'][value='{{lc.SolicitudCred}}']").prop('checked',true);
  $("input[type='checkbox'][name='fotocDN'][value='{{lc.FotocopiaDui}}']").prop('checked',true);
  $("input[type='checkbox'][name='recibosuma'][value='{{lc.RecibosAgua}}']").prop('checked',true);
  $("input[type='checkbox'][name='recibosuml'][value='{{lc.RecibosLuz}}']").prop('checked',true);
  $("input[type='checkbox'][name='recibosumt'][value='{{lc.RecibosTele}}']").prop('checked',true);
  $("input[type='checkbox'][name='referenciacs'][value='{{lc.ReferenciaCred}}']").prop('checked',true);
  $("input[type='checkbox'][name='constanciaemp'][value='{{lc.ConstanciaEmpl}}']").prop('checked',true);
  $("input[type='checkbox'][name='tacoisss'][value='{{lc.TacoIsss}}']").prop('checked',true);
  $("input[type='checkbox'][name='analisisen'][value='{{lc.AnalisisEcon}}']").prop('checked',true);
  $("input[type='checkbox'][name='balance'][value='{{lc.Balance}}']").prop('checked',true);
  $("input[type='checkbox'][name='balancerst'][value='{{lc.BalanceResu}}']").prop('checked',true);
  $("input[type='checkbox'][name='copiaDNF'][value='{{lc.CopiaDuiFia}}']").prop('checked',true);
  $("input[type='checkbox'][name='copiaraF'][value='{{lc.RecibosAguaFia}}']").prop('checked',true);
  $("input[type='checkbox'][name='copiarlF'][value='{{lc.RecibosLuzFia}}']").prop('checked',true);
  $("input[type='checkbox'][name='constanciaempF'][value='{{lc.ConstanciaEmplFia}}']").prop('checked',true);
  $("input[type='checkbox'][name='referenciacsf'][value='{{lc.ReferenciaCredFia}}']").prop('checked',true);
  $("input[type='checkbox'][name='inspecciont'][value='{{lc.InspeccionTecn}}']").prop('checked',true);
  $("input[type='checkbox'][name='presupuestoc'][value='{{lc.PresupuestoCons}}']").prop('checked',true);
  $("input[type='checkbox'][name='certificacionext'][value='{{lc.CertificadoExtr}}']").prop('checked',true);
  $("input[type='checkbox'][name='carenciab'][value='{{lc.CarenciaBien}}']").prop('checked',true);
  $("input[type='checkbox'][name='fotocescr'][value='{{lc.FotocopiaEscr}}']").prop('checked',true);
  $("input[type='checkbox'][name='declaracions'][value='{{lc.DeclaracionSalu}}']").prop('checked',true);
  $("input[type='checkbox'][name='informeD'][value='{{lc.InformeDico}}']").prop('checked',true);
  $("input[type='checkbox'][name='docsi'][value='{{lc.DocumentoSopoIng}}']").prop('checked',true);
  $("input[type='checkbox'][name='docrem'][value='{{lc.DocumentoReme}}']").prop('checked',true);
  $("input[type='checkbox'][name='cancelpec'][value='{{lc.CancelacionesPresEst}}']").prop('checked',true);
  $("input[type='checkbox'][name='finiquitos'][value='{{lc.Finiquitos}}']").prop('checked',true);
  $("input[type='checkbox'][name='hojaac'][value='{{lc.HojaAproCre}}']").prop('checked',true);
  $("input[type='checkbox'][name='cartaem'][value='{{lc.CartaElabMut}}']").prop('checked',true);
  $("input[type='checkbox'][name='recibopp'][value='{{lc.ReciboPagoPri}}']").prop('checked',true);
  $("input[type='checkbox'][name='ordendi'][value='{{lc.OrdenDeseIrr}}']").prop('checked',true);
  $("input[type='checkbox'][name='permisoc'][value='{{lc.PermisoCons}}']").prop('checked',true);
  $("input[type='checkbox'][name='cartaecd'][value='{{lc.CartaEntrCosdes}}']").prop('checked',true);
  $("input[type='checkbox'][name='fotocmhs'][value='{{lc.FotocopiaMutu}}']").prop('checked',true);
  $("input[type='checkbox'][name='gestionesc'][value='{{lc.GestionCobr}}']").prop('checked',true);


  $("#fin").hide(); // oculta el boton
 

});

// Agrega un evento 'change' a todos los elementos con la clase "verificarCheck"
$(".verificarCheck").change(function () {
    // Verifica si el checkbox está marcado
    if ($(this).is(":checked")) {
      var archivodt = new FormData();
      let fecha = new Date();
      let f = fecha.getDate() + "/" + (fecha.getMonth() + 1) + "/" + fecha.getFullYear();

      let idpd = $(this).closest(".row").find("input[type=hidden][data-idcliente]").data("idcliente");
      let nomd = $(this).closest(".row").find("input[type=hidden][data-nombred]").data("nombred");
      let idsd = $(this).closest(".row").find("input[type=hidden][data-ids]").data("ids");
      //alert(idpd+ " y " + nomd + " y " + idsd + " fecha " + f);

      $.ajax({
        url: "/ClienteApp/registrarDocumento/?idCliente="+idpd+"&fecha="+f+"&nombreD="+nomd +"&ids="+idsd ,
        method: 'POST',
        headers: {'X-CSRFToken': csrftoken},
        dataType: "json",
        data: archivodt,
        contentType: false,
        processData: false,
        success: function (response) {
          alertA("El documeto solo esta en fisico")
        },
        error: function(jqXHR,textStatus,error){
              console.log(error)
              alertE("Error al guardar")
            },
    });
        
    }
});

function validarFecha(fecha) {
    var actual = new Date();
    var f = Date.parse(fecha.value);
    var anio = actual.getFullYear();
    var mes = actual.getMonth();
    var dia = actual.getDate();

    if (f.getFullYear() > anio) {
      alertE("Ingrese una fecha valida ");
      fecha.value = "";
    } else {
      if (f.getMonth() > mes && f.getFullYear() == anio) {
        alertE("Ingrese una fecha valida ");
        fecha.value = "";
      } else {
        if (f.getDate() > dia && f.getMonth() == mes) {
          alertE("Ingrese una fecha valida ");
          fecha.value = "";
        }
      }
    }
  }

  

  function Cheque(valor) {
    if (valor.checked){
        alertA("El documeto solo esta en fisico")
    }
       
  }

</script>
{% endblock %}