<div>

    <div class="x_title">
        <div class="row">
          <h2 class="">Constancia de Ingresos, Información del Fiador </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <label>4. Constancia de Ingresos</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:10px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>4.1. Para empleados</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>4.1.1. Constancia de empleo actualizada</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="constanciaEmpDoc" data-ids= "{{lc.IdSolicitud.Id}}">
            <input type="checkbox" class="verificarCheck"  name="constanciaemp" id="constanciaemp" value="Si" >
            <ins class="iCheck-helper"></ins>
    
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>4.1.2. Taco ISSS</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="tacoIsssDoc" data-ids= "{{lc.IdSolicitud.Id}}"> 
            <input type="checkbox" class="verificarCheck"   name="tacoisss" id="tacoisss" value="Si" >
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>4.2. Para comerciantes o independientes</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>4.2.1. Análisis económico del negocio</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="analisisEcNDoc" data-ids= "{{lc.IdSolicitud.Id}}">
            <input type="checkbox" class="verificarCheck"   name="analisisen" id="analisisen" value="Si" >
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>4.2.2. Balance(para casos que aplique)</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="balanceDoc" data-ids= "{{lc.IdSolicitud.Id}}">
            <input type="checkbox" class="verificarCheck" name="balance" id="balance" value="Si" >
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>4.2.3. Balance de resultados (para casos que aplique)</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="balanceResDoc" data-ids= "{{lc.IdSolicitud.Id}}">
            <input type="checkbox" class="verificarCheck"   name="balancerst" id="balancerst" value="Si" >
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <label>5. Información del Fiador(para casos que aplique)</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>5.1.1 Copia de DUI  </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="duifDoc" data-ids= "{{lc.IdSolicitud.Id}}">
            <input type="checkbox" class="verificarCheck"   name="copiaDNF" id="copiaDNF" value="Si" >
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>5.1.2 Copia de NIT </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="nitfDoc" data-ids= "{{lc.IdSolicitud.Id}}">
            <input type="checkbox" class="verificarCheck"   name="copiaDNF" id="copiaDNF" value="Si" >
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>5.2.1 Copias de recibos de agua </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="aguafDoc" data-ids= "{{lc.IdSolicitud.Id}}">
            <input type="checkbox" class="verificarCheck"   name="copiaraF" id="copiaraF" value="Si" >
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>5.2.2 Copias de recibos de luz </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="luzfDoc" data-ids= "{{lc.IdSolicitud.Id}}">
            <input type="checkbox" class="verificarCheck"   name="copiarlF" id="copiarlF" value="Si" >
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>5.3.1 Constancia de empleo actualizada  </label>
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="constEmpDoc" data-ids= "{{lc.IdSolicitud.Id}}">
            <input type="checkbox" class="verificarCheck"   name="constanciaempF" id="constanciaempF" value="Si" >
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>5.3.2 Análisis económico del negocio </label>
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="analisisEcNDoc" data-ids= "{{lc.IdSolicitud.Id}}">
            <input type="checkbox" class="verificarCheck"   name="constanciaempF" id="constanciaempF" value="Si" >
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>6.2 Referencias Crediticias del Fiador </label>
            &nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="referenciasCrefDoc" data-ids= "{{lc.IdSolicitud.Id}}">
            <input type="checkbox" class="verificarCheck"   name="referenciacsf" id="referenciacsf" value="Si" >
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>

</div>