<div>

  <div class="x_title">
    <div class="row">
      <h4 class="">Documentos  </h4>
    </div>
  </div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:10px !important;">
      <label>Documentos de Orden de Inicio y Desembolsos</label>
      &nbsp;&nbsp;
    </div>
  </div>
  <div class="col-md-8 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:10px !important;">
      <ins class="iCheck-helper"></ins>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:10px !important;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label>18. Hoja de Aprobación del Crédito </label> 
    </div>
  </div>
  <div class="col-md-8 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:10px !important;">
      <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="hojaAprobCredDoc" data-ids= "{{lc.IdSolicitud.Id}}">
      <input type="checkbox" class="verificarCheck"  name="hojaac" id="hojaac" value="Si" >
      <ins class="iCheck-helper"></ins>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:10px !important;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label>19. Carta para Elaboración del Mutuo</label> 
    </div>
  </div>
  <div class="col-md-8 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:10px !important;">
      <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="cartaElabMutDoc" data-ids= "{{lc.IdSolicitud.Id}}">
      <input type="checkbox" class="verificarCheck"  name="cartaem" id="cartaem" value="Si" >
      <ins class="iCheck-helper"></ins>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:10px !important;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label>20. Recibo de pago de prima (para casos que aplique)</label>
    </div>
  </div>
  <div class="col-md-8 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:10px !important;">
      <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="reciboPagPrimDoc" data-ids= "{{lc.IdSolicitud.Id}}">
      <input type="checkbox" class="verificarCheck"   name="recibopp" id="recibopp" value="Si" >
      <ins class="iCheck-helper"></ins>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:10px !important;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label>21. Orden de Descuento Irrevocable (para casos que aplique)</label>
    </div>
  </div>
  <div class="col-md-8 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:10px !important;">
      <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="ordenDesIrrevDoc" data-ids= "{{lc.IdSolicitud.Id}}">
      <input type="checkbox" class="verificarCheck"   name="ordendi" id="ordendi" value="Si" >
      <ins class="iCheck-helper"></ins>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:10px !important;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label>22. Permiso de Construcción (para casos que aplique)</label>
    </div>
  </div>
  <div class="col-md-8 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:10px !important;">
      <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="permisoConsDoc" data-ids= "{{lc.IdSolicitud.Id}}">
      <input type="checkbox" class="verificarCheck"   name="permisoc" id="permisoc" value="Si" >
      <ins class="iCheck-helper"></ins>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:10px !important;">
      <label>Documentos de entrega de costos y desembolsos</label>
      &nbsp;
    </div>
  </div>
  <div class="col-md-8 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:10px !important;">
      <ins class="iCheck-helper"></ins>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:10px !important;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label>23. Carta de entrega de costos o de desembolso</label>
    </div>
  </div>
  <div class="col-md-8 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:10px !important;">
      <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="cartaEntrCostDoc" data-ids= "{{lc.IdSolicitud.Id}}">
      <input type="checkbox" class="verificarCheck" name="cartaecd" id="cartaecd" value="Si" >
      <ins class="iCheck-helper"></ins>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:10px !important;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label>24. Fotocopia de Mutuo Hipotecario o Simple</label>
    </div>
  </div>
  <div class="col-md-8 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:10px !important;">
      <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="fotocopiaMutHipDoc" data-ids= "{{lc.IdSolicitud.Id}}">
      <input type="checkbox" class="verificarCheck"  name="fotocmhs" id="fotocmhs" value="Si" >
      <ins class="iCheck-helper"></ins>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:10px !important;">
      <label>Mantener Actualizados</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:10px !important;">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:10px !important;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label>25. Gestiones de Cobro</label> &nbsp;
    </div>
  </div>
  <div class="col-md-8 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:10px !important;">
      <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="gestionesCobrDoc" data-ids= "{{lc.IdSolicitud.Id}}">
      <input type="checkbox" class="verificarCheck"   name="gestionesc" id="gestionesc" value="Si" >
      <ins class="iCheck-helper"></ins>
    </div>
  </div>
</div>

</div>