<div>

  <div class="x_title">
    <div class="row">
      <h4 class="">Información Técnica, Legal, de Riesgos y Anexos </h4>
    </div>
  </div>

  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          <label>Información Técnica</label> 
          &nbsp;&nbsp;
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          <ins class="iCheck-helper"></ins>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label>7. Inspección Técnica</label> &nbsp;         
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="inspeccionTecDoc" data-ids= "{{lc.IdSolicitud.Id}}">
          <input type="checkbox" class="verificarCheck"   name="inspecciont" id="inspecciont" value="Si" >
          <ins class="iCheck-helper"></ins>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label>8. Presupuesto de Construcción</label> &nbsp;           
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="presupuestoConsDoc" data-ids= "{{lc.IdSolicitud.Id}}">
          <input type="checkbox" class="verificarCheck"   name="presupuestoc" id="presupuestoc" value="Si" >
          <ins class="iCheck-helper"></ins>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          <label>Información Legal</label> &nbsp;
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          <ins class="iCheck-helper"></ins>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label>9. Certificación Extractuada (máximo un mes de antigüedad)</label>           
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="certificacionEstracDoc" data-ids= "{{lc.IdSolicitud.Id}}">
          <input type="checkbox" class="verificarCheck"   name="certificacionext" id="certificacionext" value="Si" >
          <ins class="iCheck-helper"></ins>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label>10. Carencia de Bienes(para casos que aplique)</label>
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="carenciaBienDoc" data-ids= "{{lc.IdSolicitud.Id}}">
          <input type="checkbox" class="verificarCheck"   name="carenciab" id="carenciab" value="Si" >
          <ins class="iCheck-helper"></ins>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label>11. Fotocopia de Escritura</label> &nbsp;          
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="fotocopiaEscritDoc" data-ids= "{{lc.IdSolicitud.Id}}">
          <input type="checkbox" class="verificarCheck"   name="fotocescr" id="fotocescr" value="Si" >
          <ins class="iCheck-helper"></ins>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          <label>Información de Riesgo</label> &nbsp;
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          <ins class="iCheck-helper"></ins>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label>12. Declaración de Salud</label>          
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="declaracionSalDoc" data-ids= "{{lc.IdSolicitud.Id}}">
          <input type="checkbox" class="verificarCheck"   name="declaracions" id="declaracions" value="Si" >
          <ins class="iCheck-helper"></ins>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label>13. Informe DICOM</label>          
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="informeDICOMDoc" data-ids= "{{lc.IdSolicitud.Id}}">
          <input type="checkbox" class="verificarCheck"   name="informeD" id="informeD" value="Si" >
          <ins class="iCheck-helper"></ins>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          <label>Anexos</label> &nbsp;
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          <ins class="iCheck-helper"></ins>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label>14. Documentos de soporte de ingresos(facturas, recibos, otros)</label>          
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="documentosSopDoc" data-ids= "{{lc.IdSolicitud.Id}}">
          <input type="checkbox" class="verificarCheck"   name="docsi" id="docsi" value="Si" >
          <ins class="iCheck-helper"></ins>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label>15. Documentos de remesas de los últimos tres meses (para caso que aplique)</label>
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="documentosRemDoc" data-ids= "{{lc.IdSolicitud.Id}}">
          <input type="checkbox" class="verificarCheck"   name="docrem" id="docrem" value="Si" >
          <ins class="iCheck-helper"></ins>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label>16. Cancelaciones de préstamos</label>          
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="cancelacionPresDoc" data-ids= "{{lc.IdSolicitud.Id}}">
          <input type="checkbox" class="verificarCheck"   name="cancelpec" id="cancelpec" value="Si" >
          <ins class="iCheck-helper"></ins>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label>16. Estados de cuenta(para casos que aplique)</label>          
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="estadoCuenDoc" data-ids= "{{lc.IdSolicitud.Id}}">
          <input type="checkbox" class="verificarCheck"   name="cancelpec" id="cancelpec" value="Si" >
          <ins class="iCheck-helper"></ins>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label>17. Finiquitos (para casos que aplique)</label>          
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="form-group form-animate-text " style="margin-top:10px !important;">
          <input type="hidden" data-idcliente="{{lc.IdSolicitud.IdPerfil.Id}}"  data-nombred="finiquitosDoc" data-ids= "{{lc.IdSolicitud.Id}}">
          <input type="checkbox" class="verificarCheck"   name="finiquitos" id="finiquitos" value="Si" ">
          <ins class="iCheck-helper"></ins>
        </div>
      </div>
    </div>

</div>