<div>

    <div class="x_title">
        <div class="row">
          <h2 class="">Constancia de Ingresos, Información del Fiador </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <label>4. Constancia de Ingresos</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:10px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>4.1. Para empleados</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>4.1.1. Constancia de empleo actualizada</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <input type="checkbox" name="constanciaemp" id="constanciaemp" value="Si" onchange="Cheque(this)">
            <ins class="iCheck-helper"></ins>
    
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>4.1.2. Taco ISSS</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <input type="checkbox"  name="tacoisss" id="tacoisss" value="Si" onchange="Cheque(this)" >
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>4.2. Para comerciantes o independientes</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>4.2.1. Análisis económico del negocio</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <input type="checkbox"  name="analisisen" id="analisisen" value="Si" onchange="Cheque(this)">
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>4.2.2. Balance(para casos que aplique)</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <input type="checkbox"  name="balance" id="balance" value="Si" onchange="Cheque(this)">
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>4.2.3. Balance de resultados (para casos que aplique)</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <input type="checkbox"  name="balancerst" id="balancerst" value="Si" onchange="Cheque(this)">
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <label>5. Información del Fiador(para casos que aplique)</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>5.1. Copia de DUI y NIT </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <input type="checkbox"  name="copiaDNF" id="copiaDNF" value="Si" onchange="Cheque(this)">
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>5.2. Copias de recibos de agua y luz </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <input type="checkbox"  name="copiaralF" id="copiaralF" value="Si" onchange="Cheque(this)">
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>5.3. Constancia de empleo actualizada o análisis económico del negocio </label>
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <input type="checkbox"  name="constanciaempF" id="constanciaempF" value="Si" onchange="Cheque(this)">
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>6. Referencias Crediticias del solicitante y Fiador </label>
            &nbsp;&nbsp;
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <input type="checkbox"  name="referenciacsf" id="referenciacsf" value="Si" onchange="Cheque(this)">
            <ins class="iCheck-helper"></ins>
          </div>
        </div>
      </div>


</div>