<!-- /con la linea del extends se hereda lo que tiene el index -->
{% extends "TesisApp/base.html" %}
{% load static %}<!-- /carga lo que esta en la carpeta static para linkear-->
{% block titulo %}Lista de Evaluaciones para Microempresa{% endblock titulo %}<!-- /el titulo del formulario-->
{% block uno %} {% endblock uno %}<!-- /Para el menu de formulario em la llave-->
{% block dos %} {% endblock dos %}<!-- /Para el menu de formulario em la llave-->

{% block content %}<!-- /abrir el bloque de contenido-->
<form id="contact" name="contact" action="" enctype="multipart/form-data" method="post" autocomplete="off">{% csrf_token%}
  <input type="hidden" id="bandera" name="bandera">

  <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="form-group form-animate-text " style="margin-top:5px !important;">
      <h4>Agencias</h4>
      <select class="form-text" id="id" name="id" onchange="cargarLista()" required>
        <option value="0">Seleccione una agencia</option>
        {% for a in agencia %}
        <option value="{{a.Id}}">{{a.Nombre}}</option>
        {% endfor %}
      </select>
      <span class="bar"></span>
    </div>
  </div>
  </div>
  </div>
</form>
<table id="table-evaluacionM" class="table table-striped table-bordered">
  <thead>
    <tr style=" background: #1a1b1b; color: #dff0f2; font-weight: bold; font-size: 14px; ">
      <th>#</th>
      <th>Nombre</th>
      <th>Disponible</th>
      <th>Cuota</th>
      <th> Opción </th>
      <th> Opción </th>
      <th> Opción </th>
    </tr>
  </thead>


  <tbody style="color: #27575c;">
 
  </tbody>
</table>
{% endblock %}
<!-- /cerrar el bloque de contenido-->
{% block js %}
<script>
  $(document).ready(function () {
    $('#table-evaluacionM').DataTable({
      responsive: true,
      language: {
        url: "{% static 'TesisApp/table/es-ar.json' %}" //Ubicacion del archivo con el json del cambio de idioma.
      }
    });
  });

  function cargarLista() {
    let id = document.getElementById('id').value;

    $('#table-evaluacionM').dataTable().fnClearTable(true);	//limpio la tabla

    $.ajax({
      url: "/EvaluacionMicroApp/agencEM/?id=" + id,
      type: "get",
      headers: { "X-CSRFToken": '{{ csrf_token }}' },
      dataType: "json",
      success: function (listaCli) {

        for (i = 0; i < listaCli.length; i++) {
          $('#table-evaluacionM').dataTable().fnAddData([
            "<td>" + (i + 1) + "</td>",
            "<td>" + listaCli[i].nombre +' '+ listaCli[i].apellido +  "</td>",
            "<td>" + listaCli[i].disponible + "</td>",
            "<td>" + listaCli[i].cuota + "</td>",
            "<center>" + '<a href="editarEvaluacionm/' + listaCli[i].ide + '" class="btn btn-info"></i>Editar</a>' + "</center>",
            "<center>" + '<a href="darBajaM/' + listaCli[i].id + '/' + listaCli[i].idp + '" class="btn btn-danger"></i>Dar de Baja</a>' + "</center>",
            "<center>" + '<a href="evaluacionIM/' + listaCli[i].ide + '" class="btn btn-info"></i>Reporte</a>' + "</center>",
            ]        
            );
        }
      },
      error: function (error) {
        console.log("cargarEvaluacion", error);
      }
    });
  }
</script>


{% endblock %}