
<div>
    <div class="x_title">
      <div class="row">
        <h2 style="text-align: center;">{{cdg.IdSolicitud.IdPerfil.Nombres}} {{cdg.IdSolicitud.IdPerfil.Apellidos}} </h2>
      </div><br>
      <div class="row">
        <h4 class="">Persona Expuesta Politicamente(PEPs) </h4>
      </div>
    </div>
  <div class="row">
  <div class="col-md-7 col-sm-12 col-xs-12">
  <h4 >¿Es usted una persona Expuesta Politicamente?</h4></div>
    {% if cpeps.UstedPeps == "Si" %} 
    <div class="col-md-2 col-sm-4 col-xs-3">
     <p>Si:  <input type="radio" class="flat" name="ustpeps" id="ustpeps" value="Si" checked   required /></p>
    </div><div class="col-md-2 col-sm-4 col-xs-3">
     <p>No:  <input type="radio" class="flat" name="ustpeps" id="ustpeps" value="No"  required /></p>
    </div> 
    {% else %}
    <div class="col-md-2 col-sm-4 col-xs-3">
      <p>Si:  <input type="radio" class="flat" name="ustpeps" id="ustpeps" value="Si"   required /></p>
     </div><div class="col-md-2 col-sm-4 col-xs-3">
      <p>No:  <input type="radio" class="flat" name="ustpeps" id="ustpeps" value="No" checked required /></p>
     </div> 
    {% endif %}

    </div>
    <BR>
    <div class="row">
      <div class="col-md-7 col-sm-12 col-xs-12">
      <h4 >¿Tiene relación con alguna persona Espuesta Politicamnete?</h4></div>
      {% if cpeps.RelacionPeps == "Si" %} 
      <div class="col-md-2 col-sm-3 col-xs-3">
        <p>Si: <input type="radio"  name="relpeps" id="relpeps" value="Si"  onchange="habdesPm(this.value);" checked required /></p>
      </div><div class="col-md-2 col-sm-3 col-xs-3">
        <p>No: <input type="radio"  name="relpeps" id="relpeps" value="No" onchange="habdesPm(this.value);"  required /></p>
      </div> 
      {% else %}
      <div class="col-md-2 col-sm-3 col-xs-3">
        <p>Si: <input type="radio"  name="relpeps" id="relpeps" value="Si"  onchange="habdesPm(this.value);" required /></p>
      </div><div class="col-md-2 col-sm-3 col-xs-3">
        <p>No: <input type="radio"  name="relpeps" id="relpeps" value="No" onchange="habdesPm(this.value);" checked required /></p>
      </div> 
      {% endif %}               
     </div>
    <BR>
     <div class="row">
      <div class="col-md-11 col-sm-6 col-xs-12"><!-- /comienzo columna  izquierda-->
        <div class="form-group form-animate-text " style="margin-top:5px !important;">
          <h4 >Nombre</h4>
          <input type="text" class="form-text" id="nombrep" name="nombrep" value="{{cpeps.NombrePeps}}"  >
          <span class="bar"></span>
        </div>
    </div>
    <div class="col-md-11 col-sm-6 col-xs-12"><!-- /comienzo columna  izquierda-->
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4>Puesto que desempeña</h4>
        <input type="text" class="form-text" id="puestodes" name="puestodes" value="{{cpeps.PuestoDese}}"  >
        <span class="bar"></span>
      </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-11 col-sm-6 col-xs-12"><!-- /comienzo columna  izquierda-->
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4 >Periodo de gestión Desde</h4>
        <input type="text" class="form-text" id="periodogd" name="periodogd"  value="{{cpeps.PeriodoGestDes}}"  >
        <span class="bar"></span>
      </div>
  </div>
  <div class="col-md-11 col-sm-6 col-xs-12"><!-- /comienzo columna  izquierda-->
    <div class="form-group form-animate-text " style="margin-top:5px !important;">
      <h4>Hasta</h4>
      <input type="text" class="form-text" id="periodogh" name="periodogh"  value="{{cpeps.PeriodoGestHas}}"  >
      <span class="bar"></span>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
    <h4 >Grado</h4>
       {% if cpeps.Grado == "Primero" %}
       1er:  <input type="radio"  name="grado" id="grado" value="Primero" onchange="habdesGm(this.value);" checked />
       {% else %}
       1er:  <input type="radio"  name="grado" id="grado" value="Primero" onchange="habdesGm(this.value);"  />
       {% endif %}
      </div>
   <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="form-group form-animate-text " style="margin-top:5px !important;">
                  <h4>Parentesco</h4>
                  <div class="col-md-10 col-sm-10 ">
                      <select class="form-text" id="pparentesco" name="pparentesco"   >
                        
                        <option value="" selected ></option>
                        <option value="Padre"  >Padre</option>
                        <option value="Madre">Madre</option>
                        <option value="Suegro">Suegro</option>
                        <option value="Suegra">Suegra</option>
                        <option value="Hijo">Hijo</option>
                        <option value="Hija">Hija</option>
                        <option value="Yerno">Yerno</option>
                        <option value="Nuera" >Nuera</option>
                                                 
                      </select>
                  </div>
                  <span class="bar"></span>
              </div>
          </div>
  
    </div> 
   <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
    <h4 >Grado</h4>
       {% if cpeps.Grado == "Segundo" %}
       2do:  <input type="radio" name="grado" id="grado" value="Segundo" checked onchange="habdesGm(this.value);"   />
       {% else %}
       2do:  <input type="radio"  name="grado" id="grado" value="Segundo" onchange="habdesGm(this.value);"   />
       {% endif %}
      </div>
   <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="form-group form-animate-text " style="margin-top:5px !important;">
                  <h4>Parentesco</h4>
                  <div class="col-md-10 col-sm-10 ">
                      <select class="form-text" id="sparentesco" name="sparentesco"  >
                       
                        <option  selected></option>
                        <option value="Abuelo" >Abuelo</option>
                        <option value="Abuela" >Abuela</option>
                        <option value="Hermano">Hermano</option>
                        <option value="Hermana">Hermana</option>
                        <option value="Cuñado">Cuñado</option>
                        <option value="Cuñada">Cuñada</option>
                        <option value="Nieto">Nieto</option>
                        <option value="Nieta">Nieta</option>
                        <option value="Concuñado">Concuñado</option>
                        <option value="Abuelos del conyuge">Abuelos del Cónyuge</option>
                       
                      </select>
                  </div>
                  <span class="bar"></span>
              </div>
          </div>
    </div> 
    <input type="hidden" id="passPEP" name="passPEP" value="0">  
  </div> 
  <div> 
    <br> 
  <div class="x_title">
    <div class="row">
      <h4 class="">Confirmación de Datos </h4>
    </div>
  </div>
  <div class="row">
  <div class="col-md-7 col-sm-12 col-xs-12">
  <h4 >¿Validé firmas, nombres y fotografía, según documentos legales?</h4></div>
  {% if cpus.ValideFirmNomFot == "Si" %} 
    <div class="col-md-2 col-sm-4 col-xs-3">
     <p>Si:  <input type="radio" class="flat" name="validefnf" id="validefnf" value="Si" checked required /></p>
    </div><div class="col-md-2 col-sm-4 col-xs-3">
     <p>No:  <input type="radio" class="flat" name="validefnf" id="validefnf" value="No"  required /></p>
    </div>
    {% else %}
    <div class="col-md-2 col-sm-4 col-xs-3">
      <p>Si:  <input type="radio" class="flat" name="validefnf" id="validefnf" value="Si"  required /></p>
     </div><div class="col-md-2 col-sm-4 col-xs-3">
      <p>No:  <input type="radio" class="flat" name="validefnf" id="validefnf" value="No" checked  required /></p>
     </div>
    {% endif %}
    </div>
    <BR>
    <div class="row">
      <div class="col-md-7 col-sm-12 col-xs-12">
      <h4 >¿Verifiqué la dirección presentada con el documento de identidad personal, coincide con la señalada por el cliente?</h4></div>
      {% if cpus.VerifiqueDire == "Si" %} 
      <div class="col-md-2 col-sm-3 col-xs-3">
        <p>Si: <input type="radio" class="flat" name="verdirec" id="verdirec" value="Si" checked  required /></p>
      </div><div class="col-md-2 col-sm-3 col-xs-3">
        <p>No: <input type="radio" class="flat" name="verdirec" id="verdirec" value="No"  required /></p>
      </div> 
      {% else %}
      <div class="col-md-2 col-sm-3 col-xs-3">
        <p>Si: <input type="radio" class="flat" name="verdirec" id="verdirec" value="Si"  required /></p>
      </div><div class="col-md-2 col-sm-3 col-xs-3">
        <p>No: <input type="radio" class="flat" name="verdirec" id="verdirec" value="No" checked required /></p>
      </div> 
      {% endif %}
     </div>
     <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12"><!-- /comienzo columna  izquierda-->
        <div class="form-group form-animate-text " style="margin-top:5px !important;">
          <h4 >Verificado por</h4>
          <input type="text" class="form-text" id="nombrever" name="nombrever" value="{{cpus.VerificadoPor}}"  required>
          <span class="bar"></span>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12"><!-- /comienzo columna  izquierda-->
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
        <h4 >Código de Empleado/a</h4>
        <input type="text" class="form-text" id="codigoemp" name="codigoemp" value="{{cpus.CodigoEmpl}}"   required>
        <span class="bar"></span>
      </div>
  </div>
  </div>
  <input type="hidden" id="passCD" name="passCD" value="0">
  </div>
  
  