  <br> <br>
    <div>            <!-- Datos de declaracion de salud -->   
        <div class="x_title">
          <div class="row">
            <h2 class="">Responsabilidades del solicitante (El o la solicitante se compromete a facilitar)</h2>
          </div>
        </div>
        <span class="section"></span>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="form-group form-animate-text " style="margin-top:10px !important;">
                <label>Mojones del lote:</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Si
                <div class="iradio_flat-green ">
                  <input type="radio" class="flat"  name="mojonesl" id="mojonesl" value="Si" required>
                  <ins class="iCheck-helper"></ins>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                No
                <div class="iradio_flat-green ">
                  <input type="radio" class="flat" name="mojonesl" id="mojonesl" value="No" checked required>
                  <ins class="iCheck-helper"></ins>
                </div>
              </div>
            </div>  
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group form-animate-text " style="margin-top:10px !important;">
                  <label>Linderos del lote:</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  Si
                  <div class="iradio_flat-green ">
                    <input type="radio" class="flat"  name="linderosl" id="linderosl" value="Si" required>
                    <ins class="iCheck-helper"></ins>
                  </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  No
                  <div class="iradio_flat-green ">
                    <input type="radio" class="flat" name="linderosl" id="linderosl" value="No" checked required>
                    <ins class="iCheck-helper"></ins>
                  </div>
                </div>
              </div>           
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-group form-animate-text " style="margin-top:10px !important;">
                <label>Resguardo de materiales y herramientas:</label> &nbsp;&nbsp;&nbsp;
                Si
                <div class="iradio_flat-green ">
                  <input type="radio" class="flat"  name="resguardom" id="resguardom" value="Si" required>
                  <ins class="iCheck-helper"></ins>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                No
                <div class="iradio_flat-green ">
                  <input type="radio" class="flat" name="resguardom" id="resguardom" value="No" checked required>
                  <ins class="iCheck-helper"></ins>
                </div>
              </div>
            </div>  
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group form-animate-text " style="margin-top:10px !important;">
                  <label>Auxiliares de construcción:</label> &nbsp;&nbsp;&nbsp;
                  Si
                  <div class="iradio_flat-green ">
                    <input type="radio" class="flat"  name="auxiliarc" id="auxiliarc" value="Si" required>
                    <ins class="iCheck-helper"></ins>
                  </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  No
                  <div class="iradio_flat-green ">
                    <input type="radio" class="flat" name="auxiliarc" id="auxiliarc" value="No" checked required>
                    <ins class="iCheck-helper"></ins>
                  </div>
                </div>
              </div>           
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-group form-animate-text " style="margin-top:10px !important;">
                <label>Agua potable para:</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Si
                <div class="iradio_flat-green ">
                  <input type="radio" class="flat"  name="aguap" id="aguap" value="Si" required>
                  <ins class="iCheck-helper"></ins>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                No
                <div class="iradio_flat-green ">
                  <input type="radio" class="flat" name="aguap" id="aguap" value="No" checked required>
                  <ins class="iCheck-helper"></ins>
                </div>
              </div>
            </div>  
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group form-animate-text " style="margin-top:10px !important;">
                  <label>Energia electrica:</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  Si
                  <div class="iradio_flat-green ">
                    <input type="radio" class="flat"  name="energiae" id="energiae" value="Si" required>
                    <ins class="iCheck-helper"></ins>
                  </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  No
                  <div class="iradio_flat-green ">
                    <input type="radio" class="flat" name="energiae" id="energiae" value="No" checked required>
                    <ins class="iCheck-helper"></ins>
                  </div>
                </div>
              </div>           
        </div>
     
     <input type="hidden" id="passDS" name="passDS" value="0">
  </div>
  
  
  
  
  