<!-- /con la linea del extends se hereda lo que tiene el index -->
{% extends "TesisApp/base.html" %}
{% load static %}<!-- /carga lo que esta en la carpeta static para linkear-->
{% block titulo %}Registro de Inspección de la Obra para Lote{% endblock titulo %}<!-- /el titulo del formulario-->
{% block uno %}Listar   {% endblock uno %}<!-- /Para el menu de formulario em la llave-->
{% block dos %}    {% endblock dos %}<!-- /Para el menu de formulario em la llave-->

{% block content %}<!-- /abrir el bloque de contenido-->
   
<div class="stepContainer" style="overflow: hidden !important;">
<form id="pinspeccionl" name="pinspeccionl" action="../../../../InspeccionLoteApp/registrarPIL/" enctype="multipart/form-data" method="post" autocomplete="off">{% csrf_token %}
  <input type="hidden" id="idi" name="idi" value="{{ipl.Id}}">

        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12" >
            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                <h4>Número de Inspección</h4>
                <input type="text" class="form-text" id="ninspeccion" name="ninspeccion" value="{{n}}"
                required disabled>
                <span class="bar"></span>
            </div>  
        </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="form-group form-animate-text " style="margin-top:5px !important;">
                  <h4>Agencia</h4>
                  <input type="text" class="form-text" id="agenciam" name="agenciam" value="{{ipl.IdSolicitud.IdPerfil.IdAgencia.Nombre}}" disabled  required>
                <span class="bar"></span>
                 
              </div>
          </div>        
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-animate-text " style="margin-top:5px !important;">
              <h4>Fecha</h4>
              <input type="date" class="form-text" id="pfecha" name="pfecha" onchange="validarFecha(this)" required>
              <span class="bar"></span>
            </div>
          </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group form-animate-text " style="margin-top:5px !important;">
                    <h4>Cliente</h4>
                    <input type="text" class="form-text" id="nombresm" name="nombresm" value="{{ipl.IdSolicitud.IdPerfil.Nombres}} {{ipl.IdSolicitud.IdPerfil.Apellidos}} " disabled  required>
                  <span class="bar"></span>
                   
                </div>
            </div>           
            </div>
            <div class="row">
           <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="form-group form-animate-text " style="margin-top:5px !important;">
                  <h4>Tiempo de Construcción</h4>
                  <input type="text" class="form-text" id="diasestimados" name="diasestimados" value="{{pdg.TiempoCons}}" disabled  required>
                  <span class="bar"></span>
              </div>
          </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group form-animate-text " style="margin-top:5px !important;">
                    <h4>Modelo de Vivienda</h4>
                    <input type="text" class="form-text" id="modelov" name="modelov" value="{{dpi.ModeloViviCon}}" disabled  required>
                    <span class="bar"></span>
                </div>
            </div>           
           </div>
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group form-animate-text " style="margin-top:5px !important;">
                    <h4>Municipio</h4>
                    <input type="text" class="form-text" id="municipiom" name="municipiom" value="{{ipl.IdSolicitud.IdPerfil.IdDistrito.Distrito}}" disabled  required>
                    <span class="bar"></span>
                </div>
            </div> 
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group form-animate-text " style="margin-top:5px !important;">
                    <h4>Dirección del proyecto</h4>
                    <input type="text" class="form-text" id="direccionm" name="direccionm" value="{{do.DireccionExac}}" disabled  required>
                    <span class="bar"></span>
                </div>
            </div>          
         </div>
         <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="form-group form-animate-text " style="margin-top:5px !important;">
                  <h4>Teléfono</h4>
                  <input type="text" class="form-text" id="dtelefono" name="dtelefono" value="{{ipl.IdSolicitud.IdPerfil.Telefono}}" disabled  required>
                  <span class="bar"></span>
              </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="form-group form-animate-text " style="margin-top:5px !important;">
                  <h4>Latitud</h4>
                  <input type="text" class="form-text" id="latitud" name="latitud" value="{{ipl.Latitud}}" disabled  required>
                  <span class="bar"></span>
              </div>
          </div>        
       </div>
       <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                <h4>Longitud</h4>
                <input type="text" class="form-text" id="longitud" name="longitud" value="{{ipl.Longitud}}" disabled   required>
                <span class="bar"></span>
            </div>
        </div> 
         <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="form-group form-animate-text " style="margin-top:5px !important;">
          <h4>Subir reporte fotografico del inmueble </h4>
          <input type="file" name="archivorepf" id="archivorepf" accept="image/*" multiple >
          <span class="bar"></span>
      </div>
  </div>  
             
    </div>
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12"  id="esquemaDiv">
          <div class="form-group form-animate-text " style="margin-top:5px !important;">
              <h4>Subir esquema de ubicación del inmueble </h4>
              <input type="file" name="archivoesq" id="archivoesq" accept="image/*">
              <span class="bar"></span>
          </div>
      </div> 
     <div class="col-md-6 col-sm-12 col-xs-12" id="ubicacionDiv">
        <div class="form-group form-animate-text " style="margin-top:5px !important;">
            <h4>Subir ubicación de vivienda en el terreno </h4>
            <input type="file" name="archivoubic" id="archivoubic" accept="image/*" >
            <span class="bar"></span>
        </div>
    </div> 
     
   
</div>
   <div class="form-group">
    <div class="col-md-12 col-md-offset-2">
        <button id="btnguardar" name="btnguardar"  class="btn btn-success" 
            style="width:200px; height:40px;"  >Guardar</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-warning" style="width:200px; height:40px;">Cancelar</button>
    </div>
 </div>  


     </form>
   </div>

{% endblock %}
<!-- /cerrar el bloque de contenido-->

{% block js %}<!-- bloque para validaciones de input-->
<script type="text/javascript">
$(window).load(//funcion para selecionar los valores de los selects por defecto al cargar la pagina
    function () {
      let n = "{{n}}"
      if(n.trim()!="PRIMERA" ){
        document.getElementById("esquemaDiv").style.display = "none";
        document.getElementById("ubicacionDiv").style.display = "none";
      }
       
      }
  )

  $(document).ready(function(){

$("#pinspeccionl").validate({
  errorElement: "em",
  errorPlacement: function(error, element) {
    $(element.parent("div").addClass("form-animate-error"));
    error.appendTo(element.parent("div"));
  },
  success: function(label) {
    $(label.parent("div").removeClass("form-animate-error"));
  },
  
  rules: {
    pfecha: {
          required: "<h2>Debe ingresar la fecha</h2>",
        }
  },
  messages: {
    pfecha: {
          required: "<h2>Debe ingresar la fecha</h2>",
        }, 
  }
});
$("#btnguardar").click(function(){
if($("#pinspeccionl").valid()){
  document.getElementById("ninspeccion").disabled = false;
  document.pinspeccionl.submit()
}else{
  alertE("Debe Registrar Datos Validos!"); 
  return false;
}
});// fin de btnguardar

});



function validarFecha(fecha) {
    var actual = new Date();
    var f = Date.parse(fecha.value);
    var anio = actual.getFullYear();
    var mes = actual.getMonth();
    var dia = actual.getDate();

    if (f.getFullYear() > anio) {
      alertE("Ingrese una fecha valida ");
      fecha.value = "";
    } else {
      if (f.getMonth() > mes && f.getFullYear() == anio) {
        alertE("Ingrese una fecha valida ");
        fecha.value = "";
      } else {
        if (f.getDate() > dia && f.getMonth() == mes) {
          alertE("Ingrese una fecha valida ");
          fecha.value = "";
        }
      }
    }
  }
</script>
{% endblock %}