<!-- /con la linea del extends se hereda lo que tiene el index -->
{% extends "TesisApp/base.html" %}
{% load static %}<!-- /carga lo que esta en la carpeta static para linkear-->
{% block titulo %}Administrar Perfil del Cliente{% endblock titulo %}<!-- /el titulo del formulario-->
{% block uno %}Listar Perfil Cliente {% endblock uno %}<!-- /Para el menu de formulario em la llave-->
{% block dos %} {% endblock dos %}<!-- /Para el menu de formulario em la llave-->

{% block content %}<!-- /abrir el bloque de contenido-->

{% csrf_token %}
<!-- page content -->
<input type="hidden" id="idCliente" value="{{perfil.Id}}">
<input type="hidden" id="estado-cliente" value="{{perfil.EstadoSoli}}">
<input type="hidden" id="csrftoken" value="{{csrf_token }}">

<div class="x_content">
    <div class="col-md-3 col-sm-3  profile_left">
        <div class="profile_img">
            <div id="crop-avatar">
            </div>
        </div>
        <h3>{{perfil.Nombres}}</h3>
        <h3>{{perfil.Apellidos}}</h3>

        <ul class="list-unstyled user_data">
            <li><i class="fa fa-map-marker user-profile-icon"></i> {{perfil.Direccion}}
            </li>

            <li>
                <i class="fa fa-briefcase user-profile-icon"></i> {{perfil.IdOcupacion.Nombre}}
            </li>

            <li class="m-top-xs">
                <i class="fa fa-phone user-profile-icon"></i> {{perfil.Telefono}}
            </li>
        </ul>

        <a href="../../listaPerfil/editarPerfil/{{perfil.Id}}" class="btn btn-success"><i
                class="fa fa-edit m-right-xs"></i> Editar Perfil</a> <br>
        <a id="btnDicom" class="btn btn-success" style="display: none;"><i class="fa fa-pie-chart"></i> DICOM</a>
        <a id="btnlistaChequeo" class="btn btn-success" style="display: none;"><i class="fa fa-list-ol m-right-xs"></i> Lista de chequeo</a>
        <div id="divlistaChequeoRepo" style="display: none;" >
            <li role="presentation" class="dropdown">
                <a id="" href="#1" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    role="button" aria-expanded="false">
                    Reportes
                    <span class=""></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="row" id="divListaChequeo"style="display:contents"> &nbsp;&nbsp; <a id="btnListaChequeoRepo" class="dropdown-item">Lista de Chequeo</a></div>
                </div>
            </li>
        </div>
        
        <br /> <br />
        <div id="inspecciones" style="display: none;">
        <a id="btnPrimeraInspeccion" onclick="alertA('Primero registre el formulario de inspeccion')" class="btn btn-success">Primera inspeccion</a>
        <li role="presentation" class="dropdown">
            <a id="btnPrimeraInspeccion" href="#1" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                role="button" aria-expanded="false">
                Reportes
                <span class=""></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="row" id="divEsquema1"style="display:contents"> &nbsp;&nbsp; <a id="btnesquema1Repo" class="dropdown-item">Esquema</a></div>
                <div class="row" id="divubicacion1" style="display:contents"> &nbsp;&nbsp; <a id="btnUbicacion1Repo" class="dropdown-item">Ubicación</a></div>
                <div class="row" style="display:contents"> &nbsp;&nbsp; <a id="btnPFotografico1Repo" class="dropdown-item">Fotografico</a></div>
            </div>
        </li>

        <a id="btnSegundaInspeccion" onclick="alertA('Primero registre la primera inspeccion')"   class="btn btn-success">Segunda inspección</a>
        <li role="presentation" class="dropdown">
            <a id="btnPrimeraInspeccion" href="#1" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="false"
                role="button" aria-expanded="false">
                Reportes
                <span class=""></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="row" id="divEsquema2" style="display:contents"> &nbsp;&nbsp; <a id="btnesquema2Repo" class="dropdown-item">Esquema</a></div>
                <div class="row" id="divubicacion2" style="display:contents"> &nbsp;&nbsp; <a id="btnUbicacion2Repo" class="dropdown-item">Ubicación</a></div>
                <div class="row" style="display:contents"> &nbsp;&nbsp; <a id="btnPFotografico2Repo" class="dropdown-item">Fotografico</a></div>
            </div>
        </li>       

        <a id="btnTerceraInspeccion" onclick="alertA('Primero registre la segunda inspeccion')"            class="btn btn-success">Tercera inspección</a>
        <li role="presentation" class="dropdown">
            <a id="btnPrimeraInspeccion" href="#1" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                role="button" aria-expanded="false">
                Reportes
                <span class=""></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="row" id="divEsquema3" style="display:contents"> &nbsp;&nbsp; <a id="btnesquema3Repo" class="dropdown-item">Esquema</a></div>
                <div class="row" id="divubicacion3" style="display:contents"> &nbsp;&nbsp; <a id="btnUbicacion3Repo" class="dropdown-item">Ubicación</a></div>
                <div class="row" style="display:contents"> &nbsp;&nbsp; <a id="btnPFotografico3Repo" class="dropdown-item">Fotografico</a></div>
            </div>
        </li>
    </div>
        <!-- start skills -->

        <!-- end of skills -->
    </div>
    <!-- inicia barra de progreso -->
    <div class="col-md-9 col-sm-9 ">
        <div class="x_panel">
            <div class="x_title">
                <h2 id="titulo"><i class="fa fa-align-left"></i> Solicitud en proceso</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="progreso-soli">

                <p id="despcipcion">No hay solicitud en proceso</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" id="progresoSoli" role="progressbar"
                        style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>

        <!-- start of user-activity-graph -->

        <!-- end of user-activity-graph -->

        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class=""><a href="#tab_content1" id="home-tab" role="tab"
                        style="font-size: small;display: none;" data-toggle="tab" aria-expanded="true">Documentos
                        Personales</a>
                </li>

                <li role="presentation" class="" id="role-formularios"><a href="#tab_content3" role="tab"
                        id="formularios-tab2" style="font-size: 10; display: none;" data-toggle="tab"
                        aria-expanded="false">Formularios </a>
                </li>
                <li role="presentation" class="" id="roler-reportes"><a href="#tab_reportes" role="tab"
                        id="reportes-tab2" style="font-size: 10; display: none;" data-toggle="tab"
                        aria-expanded="false">Reportes</a>
                </li>
                <li role="presentation" class="" id="roler-chequeo"><a href="#tab_chequeo" role="tab"
                    id="chequeo-tab2" style="font-size: 10; display: none;" data-toggle="tab"
                    aria-expanded="false">Lista de Chequeo</a>
            </li>
                <li role="presentation" class="" id="roler-historial"><a href="#tab_historial" role="tab"
                        id="historial-tab2" style="font-size: 10; display: none;" data-toggle="tab"
                        aria-expanded="false">Historial</a>
                </li>
                <li role="presentation" class="" id="nueva-soli-role"><a href="#nueva-solicitud" role="tab"
                        id="nueva-soli" style="font-size: 10; display: none;" data-toggle="tab"
                        aria-expanded="false">Iniciar</a>
                </li>
            </ul>

            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade " id="tab_content1" style="width:auto;"
                    aria-labelledby="home-tab">

                    <!-- inicia documentos personales -->
                    {% include "ClienteApp/documentosPersonales.html" %}
                    <!-- fin documentos personales -->

                </div>

                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                    <!-- inicia formularios -->
                    {% include "ClienteApp/formulariosMicro.html" %}
                    <!-- fin  formularios -->
                </div>
                <div role="tabpanel" class="tab-pane fade" id="nueva-solicitud" aria-labelledby="profile-tab">
                    <!-- inicia formulario nueva micro empresa -->
                    {% include "ClienteApp/nuevaSolicitud.html" %}
                    <!-- fin  formulario nueva micro empresa  -->
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_reportes" aria-labelledby="profile-tab">
                    <!-- inicia reportes -->
                    {% include "ClienteApp/Reportes.html" %}
                    <!-- fin  reportes -->
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_chequeo" aria-labelledby="profile-tab">
                    <!-- inicia reportes -->
                    {% include "ListaChequeoApp/listaChequeoAdminCliente.html" with id="1" %}
                    <!-- fin  reportes -->
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_historial" aria-labelledby="profile-tab">
                    <!-- inicia reportes -->
                    {% include "ClienteApp/historialCliente.html" %}
                    <!-- fin  reportes -->
                </div>
            </div>
        </div>
    </div>

</div>
<!-- fin barra de progreso -->
<div class="clearfix"></div>
<!-- inicia formularios -->


<!-- /page content -->


{% endblock %}

<!-- /cerrar el bloque de contenido-->
