<!-- /con la linea del extends se hereda lo que tiene el index -->
{% extends "TesisApp/base.html" %}
{% load static %}
<!-- /carga lo que esta en la carpeta static para linkear-->
{% block titulo %}Modificar Perfil del Cliente{% endblock titulo %}
<!-- /el titulo del formulario-->
{% block uno %}Listar Perfil Cliente {% endblock uno %}
<!-- /Para el menu de formulario em la llave-->
{% block dos %} {% endblock dos %}
<!-- /Para el menu de formulario em la llave-->


{% block content %}
<!-- /abrir el bloque de contenido-->

<form id="modificarPerfil" name="modificarPerfil" action="../../../ClienteApp/modificarPerfil/" method="POST" 
autocomplete="off">{%  csrf_token %}
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                <input type="hidden" id="idp" name="idp" value="{{perfil.Id}}">
                <h4>Nombres<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                <input type="text" class="form-text" id="nombres" name="nombres" value="{{perfil.Nombres}}" onkeyup="PrimeraMayus(this)" required>
                <span class="bar"></span>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                <h4>Apellidos<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                <input type="text" class="form-text" id="apellidos" name="apellidos" value="{{perfil.Apellidos}}" onkeyup="PrimeraMayus(this)"
                    required>
                <span class="bar"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                <h4>DUI<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                <input type="text" class="form-text" id="dui" name="dui" value="{{perfil.Dui}}" disabled="true">
                <span class="bar"></span>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                <h4>Teléfono<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                <input type="text" class="form-text" id="telefono" name="telefono" value="{{perfil.Telefono}}" onkeypress=" tel('telefono');return event.charCode>=48 && event.charCode<=57 " maxlength="9" minlength="9"  required>
                <span class="bar"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                <h4>Nacionalidad<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                    <select class="form-text" id="nacionalidad" name="nacionalidad" disabled="true">
                        <option selected value="salvadoreño">Salvadoreño/a</option>
                    </select>
                <span class="bar"></span>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                <h4>Fecha de Nacimiento<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                <input type="date" class="form-text" id="fecha" name="fecha" onchange="validarFecha(this)"  value="{{perfil.FechaNaci|date:'Y-m-d'}}"  required>
                <span class="bar"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                <h4>Ocupación<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                    <select class="form-text" id="ocupacion" name="ocupacion" required>
                        <option selected disabled>Seleccione</option>
                        {% for o in ocupaciones %}
                        {% if o.Nombre == perfil.IdOcupacion.Nombre %}
                        <option value="{{o.Id}}" selected>{{o.Nombre}}</option>
                        {% else %}
                        <option value="{{o.Id}}">{{o.Nombre}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                <span class="bar"></span>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                <h4>Salario<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                <input type="number" class="form-text" id="salario" name="salario" value="{{perfil.Salario}}" onkeypress="validarSalario('salario');return event.charCode>=48 && event.charCode<=57 || event.charCode==46 "  maxlength="8" required>
                <span class="bar"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                <h4>Departamento<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                <select id="departamento" class="form-text" name="departamento" onchange="cambiarMunicipio()" required>
                    <option  selected disabled>Seleccione un Departamento </option>
                    {% for d in Departamento %}
                    {% if d.NombreDepa == Deptop.NombreDepa %}
                    <option value="{{d.Id}}" selected>{{d.NombreDepa}}</option>
                    {% else %}
                    <option value="{{d.Id}}">{{d.NombreDepa}}</option>
                    {% endif %}
                    {% endfor %}
                </select>

                <span class="bar"></span>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                <h4>Municipio<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                <select name="municipio" id="municipio" class="form-text" onchange="cambiarDistrito()" required>
                    {% for d in Municipios %}
                    {% if d.NombreMuni == Munip.NombreMuni %}
                    <option value="{{d.Id}}" selected>{{d.NombreMuni}}</option>
                    {% else %}
                    <option value="{{d.Id}}">{{d.NombreMuni}}</option>
                    {% endif %}
                    {% endfor %}
                </select>

                <span class="bar"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                <h4>Distrito<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                <select name="distrito" id="distrito" class="form-text" required> 
                    {% for di in Distritos %}
                    {% if di.Distrito == Distp.Distrito %}
                    <option value="{{di.Id}}" selected>{{di.Distrito}}</option>
                    {% else %}
                    <option value="{{di.Id}}">{{di.Distrito}}</option>
                    {% endif %}
                    {% endfor %}
                    </select> 
                
                <span class="bar"></span>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                <h4>Dirección<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                <input type="text" class="form-text" id="direccion" name="direccion" value="{{perfil.Direccion}}" onkeyup="LetraM(this)"
                    required>
                <span class="bar"></span>
            </div>
        </div>
       
    </div>
    <div class="row">    
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                <h4>Correo<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                <input type="text" class="form-text" id="correo" name="correo" value="{{perfil.Correo}}" onchange="compararCorreo()" required>
                <span class="bar"></span>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                
                <span class="bar"></span>
            </div>
        </div>
    </div>
    <h6> NOTA: Campos obligatorios <span style="color: #02b3db;" size="font-size:8px;">*</span></h6>
    <BR><BR>
    <div class="form-group">
        <div class="col-md-12 col-md-offset-2">
            <button id="btnguardar2" name="btnguardar2" onclick="guardar()" type="submit" class="btn btn-success"
                style="width:200px; height:40px;">Guardar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-warning" style="width:200px; height:40px;" type="reset">Cancelar</button>
        </div>
    </div>
</form>
{% endblock %}
<!-- /cerrar el bloque de contenido-->

{% block js %}
<!-- bloque para validaciones de input-->
<script type="text/javascript">

    $(document).ready(function () {

        $('input').on('keypress', function (e) {
            if (e.keyCode == 25) {
                // Obtenemos el número del atributo tabindex al que se le dio enter y le sumamos 1
                var TabIndexActual = $(this).attr('tabindex');
                var TabIndexSiguiente = parseInt(TabIndexActual) + 1;
                // Se determina si el tabindex existe en el formulario
                var CampoSiguiente = $('[tabindex=' + TabIndexSiguiente + ']');
                // Si se encuentra el campo entra al if
                if (CampoSiguiente.length > 0) {
                    CampoSiguiente.focus(); //Hcemos focus al campo encontrado
                    return false; // retornamos false para detener alguna otra ejecucion en el campo
                } else {// Si no se encontro ningún elemento, se retorna false
                    return false;
                }
            }
        });

        $(function () {// agregar la fecha actual a la solicitud
            $(window).load(function () {
            var fecha = new Date();
            // var f = fecha.getDate() + "/" + (fecha.getMonth() + 1) + "/" + fecha.getFullYear();
            

            f = fecha.getFullYear() + "-" + (fecha.getMonth() + 1) + "-" + fecha.getDate();

            //se agrega la fecha maxima para la fecha de nacimiento
                document.getElementsByName('fecha').setAttribute("max", f);

            
            });

        });


        $.validator.addMethod("validaemail", function (value, element) {
            return /^(?:[^<>()[\].,;:\s@"]+(\.[^<>()[\].,;:\s@"]+)*|"[^\n"]+")@(?:[^<>()[\].,;:\s@"]+\.)+[^<>()[\]\.,;:\s@"]{2,63}$/i.test(value);
        }, "<h2>Ingrese un correo válido  en formaro que contenga @ y .com</h2>");

        $.validator.addMethod("letras", function (value, element) {
            return /^(?!.*(.)\1{2})[ a-zA-Záéíóúüñ.]*$/i.test(value);
        }, "<h2>Ingrese sólo letras sin repetir más de 2 veces o espacios..</h2>");

        $.validator.addMethod("numero", function(value, element) {
            return /^[0-9,.]*$/i.test(value);
        }, "<h2>Ingrese sólo numero y puntos  </h2>");

        $.validator.addMethod("dire", function(value, element) {
            return /^(?!.*(.)\1{2})[ a-zA-Záéíóúüñ0-9,ºª.]*$/i.test(value);
        }, "<h2>Ingrese una dirección valida ..</h2>");

       


        $("#modificarPerfil").validate({
            errorElement: "em",
            errorPlacement: function (error, element) {
                $(element.parent("div").addClass("form-animate-error"));
                error.appendTo(element.parent("div"));
            },
            success: function (label) {
                $(label.parent("div").removeClass("form-animate-error"));
            },
            rules: {
                nombres: {
                    minlength: 3,
                    required: true,
                    letras: true,
                    maxlength: 30
                },
                apellidos: {
                    minlength: 3,
                    required: true,
                    letras: true,
                    maxlength: 30
                },
                fecha:{
                required:true,

                },              
                salario:{
                required:true,
                minlength:3,
                maxlength:10,
                numero:true,            
                },
                direccion:{
                minlength:10,
                required: true,
                dire:true,
                maxlength:100

                },
                correo:{
                minlength:3,
                required: true,
                validaemail:true,
                maxlength:30

                },

            },
            messages: {
                nombres: {
                    required: "<h2>Debe ingresar los nombres</h2>",
                    minlength: "<h2>El nombre debe tener un minimo de 3 caracteres</h2>",
                    maxlength: "<h2>El nombre debe tener un maximo de 30 caracteres</h2>"
                },
                apellidos: {
                    required: "<h2>Debe ingresar los apellidos</h2>",
                    minlength: "<h2>El nombre debe tener un minimo de 3 caracteres</h2>",
                    maxlength: "<h2>El nombre debe tener un maximo de 30 caracteres</h2>"
                },             
                telefono:{
                    required : "<h2>Debe ingresar el teléfono</h2>",
                },               
                ocupacion:{
                    required : "<h2>Debe seleccionar una ocupación</h2>"
                },
                fecha:{
                    required : "<h2>Debe ingresar la fecha</h2>",
                },
                salario:{
                    required : "<h2>Debe ingresar un salario </h2>",
                    minlength : "<h2>El salario debe tener un minimo de 3 digitos</h2>",
                    maxlength : "<h2>El salario debe tener un maximo de 10 digitos</h2>"
                },
                departamento:{
                    required : "<h2>Debe seleccionar un departamento</h2>"
                },
                direccion:{
                    required : "<h2>Debe ingresar la dirección</h2>",
                    minlength : "<h2>La direción debe tener un minimo de 10 caracteres</h2>",
                    maxlength : "<h2>La direción debe tener un maximo de 100 caracteres</h2>"
                },
                correo:{
                    required : "<h2>Debe ingresar el correo</h2>",
                    minlength : "<h2>El correo debe tener un minimo de 8 caracteres</h2>",
                    maxlength : "<h2>El correo debe tener un maximo de 11 caracteres</h2>"
                },
               }
        });


    });

// obtengo la lista json de perfiles
var perfiles = JSON.parse('{{ lper_json|escapejs }}');

function compararCorreo() {
var correoc = document.getElementById('correo').value; 

for (var i = 0; i < perfiles.length; i++) {
  
  var perfil = perfiles[i];
  var phis;
  if (correoc != perfil.Correo ) {

    break; // Si deseas salir del bucle cuando se encuentra el rango, puedes utilizar break
  }else {
    alertE("El correo ya existe")
  }
}

}

    function cambiarMunicipio() {
        let depa = document.modificarPerfil.departamento[document.modificarPerfil.departamento.selectedIndex].value

        let url = '../../../ClienteApp/municipio/?departamento=' + depa;
        fetch(url)
            .then(function (result) {
                return result.text();
            })
            .then(function (result) {
                document.getElementById('municipio').innerHTML = result;
                cambiarDistrito();

            });
    }

    function cambiarDistrito(){        
        let mun=document.modificarPerfil.municipio[document.modificarPerfil.municipio.selectedIndex].value
        let url='../../../ClienteApp/distrito/?municipio='+mun;
        
        fetch(url)
        .then(function(result){
            return result.text();
        })
        .then(function(result){
            document.getElementById('distrito').innerHTML=result;
        });
        
    }

  
  function tel(id){
    var num=  document.getElementById(id).value.length;
    var primer = document.getElementById(id).value;
    if(num==4)
    document.getElementById(id).value=document.getElementById(id).value+'-';

    if(num==1 ){
      if( primer=='2' || primer=='7' || primer=="6")
         return
         else {
          document.getElementById(id).value="";
          document.getElementById(id).title = "El Telefono debe comenzar con 2, 6 o 7";
       } 
    }   
   
  }

  function validarFecha(fecha) {
    var actual = new Date();
    var f = Date.parse(fecha.value);
    var anio = actual.getFullYear();
    var mes = actual.getMonth();
    var dia = actual.getDate();

    if (f.getFullYear() > anio) {
      alertE("Ingrese una fecha valida ");
      fecha.value = "";
    } else {
      if (f.getMonth() > mes && f.getFullYear() == anio) {
        alertE("Ingrese una fecha valida ");
        fecha.value = "";
      } else {
        if (f.getDate() > dia && f.getMonth() == mes) {
          alertE("Ingrese una fecha valida ");
          fecha.value = "";
        }
      }
    }
  }


  function validarSalario(salario) {
       var val = document.getElementById(salario).value 
       var primer = document.getElementById(salario).value 
      
    if (primer != '0' ) 
       return 
        else{
        alertE('Ingrese un valor valido');
        document.getElementById(salario).value="";
    }
  }

  function vsalario(sa){
    var sal=  document.getElementById(sa).value;
    
    if(isNaN(sal)== true)
        if(sal<0)
            document.getElementById(sa).value="";
            document.getElementById(sa).title = "Ingrese un salario valido"; 
  }

function guardar(){
    document.getElementById("dui").disabled = false;
    document.getElementById("nacionalidad").disabled = false;

    if (document.getElementById("nombres").value != "" &&
        document.getElementById("apellidos").value != "" &&
        document.getElementById("telefono").value != "" &&
        document.getElementById("fecha").value != "" &&
        document.getElementById("ocupacion").value != "" &&
        document.getElementById("salario").value != "" &&
        document.getElementById("departamento").value != "" &&
        document.getElementById("municipio").value != "" &&
        document.getElementById("direccion").value != "" &&
        document.getElementById("correo").value != ""  ) {
         document.modificarPerfil.submit();
        }
    
}

function PrimeraMayus(input) {
      var words = input.value.split(" ");
      for (var i = 0; i < words.length; i++) {
        words[i] = words[i].charAt(0).toUpperCase() + words[i].slice(1);
      }
      input.value = words.join(" ");
    }

function LetraM(input) {
    input.value = input.value.charAt(0).toUpperCase() + input.value.slice(1);
  }


</script>
{% endblock %}