<table>
    <tr>
        <td>
            <a href="../../../EvaluacionMicroApp/listaEvaluacionm/solicitudMicro/{{perfil.Id}}" id="btnEvaliacionMicro"
            class="btn btn-info">Solicitud con Ingresos Provenientes de Microempresas</a>
        </td>
        <td>
            <a href="../../../EvaluacionIvEFApp/listaEvaluacion/solicitudNatu/{{perfil.Id}}" id="btnEvaliacionMicro"
            class="btn btn-info">Solicitud con Ingresos Provenientes de Empleos y/o Remesas Familiares</a>

        </td>
    </tr>
</table>