<!-- /con la linea del extends se hereda lo que tiene el index -->
{% extends "TesisApp/inicio.html" %}
{% load static %}<!-- /carga lo que esta en la carpeta static para linkear-->

{% block content %}<!-- /abrir el bloque de contenido-->


<div class="right_col" role="main">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                  <h2>Registro de Perfil del Cliente</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <form id="perfilc" name="perfilc" action="/ClienteApp/registrarPerfilc/" method="post" autocomplete="off">{% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group form-animate-text " style="margin-top:5px !important;">
                                    <h4>Nombres<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                                    <input type="text" class="form-text" id="nombres" name="nombres" onkeyup="PrimeraMayus(this)"  required>
                                    <span class="bar"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group form-animate-text " style="margin-top:5px !important;">
                                    <h4>Apellidos<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                                    <input type="text" class="form-text" id="apellidos" name="apellidos" onkeyup="PrimeraMayus(this)" required>
                                    <span class="bar"></span>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group form-animate-text " style="margin-top:5px !important;">
                                    <h4>Dui<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                                    <input type="text" class="form-text" id="dui" name="dui" onkeypress=" du('dui');return event.charCode>=48 && event.charCode<=57 " maxlength="10" minlength="10"  required >
                                    <span class="bar"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group form-animate-text " style="margin-top:5px !important;">
                                    <h4>Teléfono<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                                    <input type="text" class="form-text" id="telefono" name="telefono" onkeypress=" tel('telefono');return event.charCode>=48 && event.charCode<=57 " maxlength="9" minlength="9"  required>
                                    <span  class="bar"></span>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group form-animate-text " style="margin-top:5px !important;">
                                        <h4>Nacionalidad<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                                            <select class="form-text" id="nacionalidad" name="nacionalidad"  required >
                                                <option  selected disabled>Seleccione</option>
                                                <option value="salvadoreño" >Salvadoreño/a</option>
                                                <option value="otro">otro</option>
                                                
                                            </select>
                                        <span class="bar"></span>
                                    </div>  
                                </div>
                        
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group form-animate-text " style="margin-top:5px !important;">
                                        <h4>Fecha de Nacimiento<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                                        <input type="date" class="form-text" id="fecha" name="fecha" onchange="validarFecha(this)"   required >
                                        <span class="bar"></span>
                                    </div>
                                </div>
                            </div>
                            
                                <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group form-animate-text " style="margin-top:5px !important;">
                                        <h4>Ocupación<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                                            <select class="form-text" id="ocupacion" name="ocupacion"  required >
                                                <option selected disabled >Seleccione</option>
                                                {% for o in ocupaciones %}
                                                <option value="{{o.Id}}" >{{o.Nombre}}</option>
                                                {% endfor %}
                                            </select>
                                        <span class="bar"></span>
                                    </div>
                                </div>
                        
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group form-animate-text " style="margin-top:5px !important;">
                                        <h4>Salario<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                                        <input type="number" class="form-text" id="salario" name="salario"  onkeypress="validarSalario('salario');return event.charCode>=48 && event.charCode<=57 || event.charCode==46 "  maxlength="10"  required>
                                        <span class="bar"></span>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group form-animate-text " style="margin-top:5px !important;">
                                            <h4>Departamento<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                                            <select id="departamento" class="form-text" name="departamento" onchange="cambiarMunicipio()" required> 
                                                <option  selected disabled>Seleccione un Departamento </option> 
                                                {% for d in Departamento %}
                                                <option value="{{d.Id}}" >{{d.NombreDepa}}</option>
                                                {% endfor %}
                                            </select>
                                            
                                            <span class="bar"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group form-animate-text " style="margin-top:5px !important;">
                                            <h4>Municipio<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                                            <select name="municipio" id="municipio" class="form-text" onchange="cambiarDistrito()" required> 
                                                </select> 
                                       
                                            <span class="bar"></span>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                                                <h4>Distrito<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                                                <select name="distrito" id="distrito" class="form-text" required> 
                                                    </select> 
                                                
                                                <span class="bar"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                                                <h4>Dirección<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                                                <input type="text" class="form-text" id="direccion" name="direccion" onkeyup="LetraM(this)" required>
                                                <span class="bar"></span>
                                            </div>
                                        </div>       
                                        </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                                                <h4>Correo<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                                                <input type="text" class="form-text" id="correo" name="correo" onchange="compararCorreo()" required>
                                                <span class="bar"></span>
                                            </div>
                                        </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group form-animate-text " style="margin-top:5px !important;">
                                            <h4>Contraseña<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                                            <input type="password" class="form-text" id="contrasena" name="contrasena" onchange="validarPass();"   required>
                                            <span class="bar"></span>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                                                <h4>Repita su Contraseña<span style="color: #02b3db;" size="font-size:8px;">*</span></h4>
                                                <input type="password" class="form-text" id="rcontrasena" name="rcontrasena" onchange="compararPass();"  required>
                                                <span class="bar"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                                                
                                                <span class="bar"></span>
                                            </div>
                                        </div>
                                        </div>
                                        <h6> NOTA: Campos obligatorios <span style="color: #02b3db;" size="font-size:8px;">*</span></h6>
                                    <BR><BR>
                                <div class="form-group">
                                    <div class="col-md-12 col-md-offset-2">
                                        <button id="btnguardar" name="btnguardar" type="submit" class="btn btn-success"
                                            style="width:200px; height:40px;">Guardar</button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button type="reset" class="btn btn-warning" style="width:200px; height:40px;" type="reset">Cancelar</button>
                                    </div>
                                </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
<!-- /cerrar el bloque de contenido-->


{% block js %}<!-- bloque para validaciones de input-->
<script type="text/javascript">
    function limpiarCampos() {
        document.getElementById('correo').value = '';
        document.getElementById('contrasena').value = '';
        // ... limpiar otros campos si es necesario ...
    }
    
    // Llama a la función después de cargar la página
    window.onload = limpiarCampos;
     
         $(document).ready(function(){
    
    $('input').on('keypress', function(e){
      if (e.keyCode == 25) {
        // Obtenemos el número del atributo tabindex al que se le dio enter y le sumamos 1
        var TabIndexActual = $(this).attr('tabindex');
        var TabIndexSiguiente = parseInt(TabIndexActual) + 1;
        // Se determina si el tabindex existe en el formulario
        var CampoSiguiente = $('[tabindex='+TabIndexSiguiente+']');
        // Si se encuentra el campo entra al if
        if(CampoSiguiente.length > 0)
        {
        CampoSiguiente.focus(); //Hcemos focus al campo encontrado
        return false; // retornamos false para detener alguna otra ejecucion en el campo
        }else{// Si no se encontro ningún elemento, se retorna false
        return false;
        }
      }
    });
    
    
    
    $('.mask-fecha').mask('00/00/0000');
    
     $.validator.addMethod("validaemail", function(value, element) {
        return/^(?:[^<>()[\].,;:\s@"]+(\.[^<>()[\].,;:\s@"]+)*|"[^\n"]+")@(?:[^<>()[\].,;:\s@"]+\.)+[^<>()[\]\.,;:\s@"]{2,63}$/i.test(value);
    }, "<h2>Ingrese un correo válido  en formaro que contenga @ y .com</h2>");
    
     $.validator.addMethod("letras", function(value, element) {
        return /^(?!.*(.)\1{2})[ a-zA-Záéíóúüñ.]*$/i.test(value);
    }, "<h2>Ingrese sólo letras ..</h2>");
    
    $.validator.addMethod("validardui", function(value, element) {
        return /^(?!.*(.)\1{4})\d{8}-\d{1}$/.test(value);
    }, "<h2>Ingrese corecctamente el DUI ..</h2>");
    
    $.validator.addMethod("numero", function(value, element) {
        return /^[0-9,.]*$/i.test(value);
    }, "<h2>Ingrese sólo numero y puntos  </h2>");
    
    $.validator.addMethod("dire", function(value, element) {
        return /^(?!.*(.)\1{2})[ a-zA-Záéíóúüñ0-9,ºª#@&%-.]*$/i.test(value);
    }, "<h2>Ingrese una dirección valida ..</h2>");
    
    $.validator.addMethod("validartelefono", function(value, element) {
     return  /^[7|6|2]\d{3}-\d{4}$/.test(value);
    }, "Ingrese correctamente el teléfono ****-****, que comience con 7,6 ó 2");
    
    
    $("#perfilc").validate({
      errorElement: "em",
      errorPlacement: function(error, element) {
        $(element.parent("div").addClass("form-animate-error"));
        error.appendTo(element.parent("div"));
      },
      success: function(label) {
        $(label.parent("div").removeClass("form-animate-error"));
      },
      rules: {
        nombres:{
          minlength:3,
          required: true,
          letras:true,
          maxlength:30
        },
        apellidos:{
          minlength:3,
          required: true,
          letras:true,
          maxlength:30
        },
        dui:{
          minlength:10,
          required: true,
          validardui:true,
          maxlength:10,     
        },
        telefono:{
          minlength:9,
          required: true,
          validartelefono:true,
          maxlength:9,      
        },
        fecha:{
          required:true,
        },
        ocupacion:{
          required:true,
        },  
       
        salario:{
          required:true,
          minlength:3,
          maxlength:10,
          numero:true,     
        },
        departamento:{
          required:true,
        },
        municipio:{
          required:true,
        },
    
        distrito:{
          required:true,
        },
     
        direccion:{
          minlength:10,
          required: true,
          dire:true,
          maxlength:100
        },
        correo:{
          minlength:3,
          required: true,
          validaemail:true,
          maxlength:30
        },
        contrasena:{
          minlength:8,
          required: true,
          maxlength:30
        },
        rcontrasena:{
          minlength:8,
          required: true,
          maxlength:30
        },
      },
      messages: {
        nombres:{
            required : "<h2>Debe ingresar los Nombres</h2>",
            minlength : "<h2>El nombre debe tener un minimo de 3 caracteres</h2>",
            maxlength : "<h2>El nombre debe tener un maximo de 30 caracteres</h2>"
        },
        apellidos:{
            required : "<h2>Debe ingresar los Apellidos</h2>",
            minlength : "<h2>El apellido debe tener un minimo de 3 caracteres</h2>",
            maxlength : "<h2>El apellido debe tener un maximo de 30 caracteres</h2>"
        },
        dui:{
            required : "<h2>Debe ingresar el Dui</h2>",
            minlength : "<h2>El dui debe tener un minimo de 10 caracteres</h2>",
            maxlength : "<h2>El dui debe tener un maximo de 10 caracteres</h2>"
        },
        telefono:{
            required : "<h2>Debe ingresar el Teléfono</h2>",
            minlength : "<h2>EL teléfono debe tener un minimo de 9 caracteres</h2>",
            maxlength : "<h2>EL teléfono debe tener un maximo de 9 caracteres</h2>"
        },
        nacionalidad:{
            required : "<h2>Debe seleccionar la Nacionalidad</h2>",
        },
        fecha:{
            required : "<h2>Debe ingresar la Fecha</h2>",
        },
        ocupacion:{
            required : "<h2>Debe seleccionar la Ocupación</h2>"
        },
        salario:{
            required : "<h2>Debe ingresar un Salario </h2>",
            minlength : "<h2>El salario debe tener un minimo de 3 digitos</h2>",
            maxlength : "<h2>El salario debe tener un maximo de 10 digitos</h2>"
        },
        departamento:{
            required : "<h2>Debe seleccionar el Departamento</h2>"
        },
        municipio:{
            required : "<h2>Debe seleccionar el Municipio</h2>"
        },
        distrito:{
            required : "<h2>Debe seleccionar el Distrito</h2>"
        },
        direccion:{
            required : "<h2>Debe ingresar una Dirección</h2>",
            minlength : "<h2>La direción debe tener un minimo de 10 caracteres</h2>",
            maxlength : "<h2>La direción debe tener un maximo de 100 caracteres</h2>"
        },
        correo:{
            required : "<h2>Debe ingresar el Correo</h2>",
            minlength : "<h2>El correo debe tener un minimo de 8 caracteres</h2>",
            maxlength : "<h2>El correo debe tener un maximo de 11 caracteres</h2>"
        },
        contrasena:{
            required : "<h2>Debe ingresar una Contraseña</h2>",
            minlength : "<h2>La contraseña debe tener un minimo de 8 caracteres</h2>",
            maxlength : "<h2>La contraseña debe tener un numero, una mayuscula y minimo de 8 caracteres</h2>"
        },
        rcontrasena:{
            required : "<h2>Debe ingresar una Contraseña</h2>",
            minlength : "<h2>La contraseña debe tener un minimo de 8 caracteres</h2>",
            maxlength : "<h2>La contraseña debe tener un maximo de 30 caracteres</h2>"
        },
      }
    });
    });
    
        // obtengo la lista json de perfiles
        var perfiles = JSON.parse('{{ lper_json|escapejs }}');
    
        function compararCorreo() {
        var correoc = document.getElementById('correo').value; 
    
        for (var i = 0; i < perfiles.length; i++) {
          
          var perfil = perfiles[i];
          var phis;
          if (correoc != perfil.Correo ) {
     
            break; // Si deseas salir del bucle cuando se encuentra el rango, puedes utilizar break
          }else {
            alertE("El correo ya existe")
          }
        }
      
      }
    
      function validarFecha(fecha) {
        var actual = new Date();
        var f = Date.parse(fecha.value);
        var anio = actual.getFullYear();
        var mes = actual.getMonth();
        var dia = actual.getDate();
    
        if (f.getFullYear() > anio) {
          alertE("Ingrese una fecha valida ");
          fecha.value = "";
        } else {
          if (f.getMonth() > mes && f.getFullYear() == anio) {
            alertE("Ingrese una fecha valida ");
            fecha.value = "";
          } else {
            if (f.getDate() > dia && f.getMonth() == mes) {
              alertE("Ingrese una fecha valida ");
              fecha.value = "";
            }
          }
        }
      }
    
        function tel(id){
          var num=  document.getElementById(id).value.length;
          var primer = document.getElementById(id).value;
          if(num==4)
          document.getElementById(id).value=document.getElementById(id).value+'-';
    
          if(num==1 ){
            if( primer=='2' || primer=='7' || primer=="6")
               return
               else {
                document.getElementById(id).value="";
                document.getElementById(id).title = "El Telefono debe comenzar con 2, 6 o 7";                         
                } 
          }   
         
        }
    
      
        function du(id){
          var num=  document.getElementById(id).value.length;
          
          if(num==8)
          document.getElementById(id).value=document.getElementById(id).value+'-';   
         
        }
    
        function validarSalario(salario) {
           var val = document.getElementById(salario).value 
           var primer = document.getElementById(salario).value 
          
        if (primer != '0' ) 
           return 
            else{
            alertE('Ingrese un valor valido');
            document.getElementById(salario).value="";
        }
      }
    
    
        function cambiarMunicipio(){
            let depa=document.perfilc.departamento[document.perfilc.departamento.selectedIndex].value
            let url='/ClienteApp/municipio/?departamento='+depa;
            fetch(url)
            .then(function(result){
                return result.text();
            })
            .then(function(result){
                //alert(result);
                document.getElementById('municipio').innerHTML=result;
                cambiarDistrito();
            });     
        }
    
    
        function cambiarDistrito(){        
            let mun=document.perfilc.municipio[document.perfilc.municipio.selectedIndex].value
            let url='/ClienteApp/distrito/?municipio='+mun;
            
            fetch(url)
            .then(function(result){
                return result.text();
            })
            .then(function(result){
                document.getElementById('distrito').innerHTML=result;
            });
            
        }
    
    function validarPass(){
        var con = document.getElementById('contrasena').value
        var myregex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/; 
            if(myregex.test(con)){
                //alert(con+" es valido :-) !");
                return true;        
            }else{
                //alert(con+" NO es valido!");
                document.getElementById('contrasena').value = "";
                alertE("La contaseña no es valida, debe tener un numero, una mayuscula y al menos 8 caracteres");
                return false;        
            }   
     }
    
     function compararPass(){
        var con = document.getElementById('contrasena').value
        var rcon = document.getElementById('rcontrasena').value
    
            if(con != rcon){
                alertE("Las contaseñas no son iguales"); 
                document.getElementById('contrasena').value = "";
                document.getElementById('rcontrasena').value = "";
          
            }   
     }
    
     function PrimeraMayus(input) {
          var words = input.value.split(" ");
          for (var i = 0; i < words.length; i++) {
            words[i] = words[i].charAt(0).toUpperCase() + words[i].slice(1);
          }
          input.value = words.join(" ");
        }
    
    function LetraM(input) {
        input.value = input.value.charAt(0).toUpperCase() + input.value.slice(1);
      }
    
    
        
    </script>
    

{% endblock %}