<div>
    <div class="x_title">

        <div class="row">
            <h4 class="">Mano de obra </h4>
        </div>
    </div>
    <input type="hidden" id="idManoObraMod" name="idManoObraMod" value="1">
    <!--- el buscador no esta visible en registrar, pueda que no se ocupe mucho -->
    <div class="row" style="display: none;">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                <h4>Buscar</h4>
                <input type="text" id="bscrMO" placeholder="Buscar por descripcion" class="form-text" list="manObra-list"
                    onchange="cargarMO()" value="">
    
            </div>
        </div>
        <datalist id="manObra-list">
    
        </datalist>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                <h4>Descripción</h4>
                <input type="text" class="form-text" id="descripcionmo" name="descripcionmo" >
                <span class="bar"></span>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                <h4>Unidad</h4>
                <input type="text" class="form-text" id="unidadmo" name="unidadmo" >
                <span class="bar"></span>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                <h4>Precio Unitario</h4>
                <input type="text" class="form-text" id="preciomo" name="preciomo" pattern="^\d*(\.\d{0,1})?$"
                onkeypress="return event.charCode>=48 && event.charCode<=57 || event.charCode==46 " 
                    onchange="validarNumero(this)" required>
                <span class="bar"></span>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-animate-text " style="margin-top:5px !important;">
                <h4>Cantidad</h4>
                <input type="text" class="form-text" id="cantidadmo" name="cantidadmo" pattern="^\d*(\.\d{0,1})?$"
                onkeypress="return event.charCode>=48 && event.charCode<=57 || event.charCode==46 " 
                    onchange="validarNumero(this)" required>
                <span class="bar"></span>
            </div>
        </div>

    </div>
    <div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12" style="align-items: center;">
                <div class="col-md-12 col-md-offset-2" style="align-items: center;">
                    <div class="row" style="align-items: center; display: block;">
                        <button id="btnagregarmo" name="btnagregarmo" type="button" onclick="AgregarTablaMO()"
                            class="btn btn-success" style="width:200px; height:40px;">Agregar</button>
                    </div>
                    <div class="row" style="align-items: center; display: block;">
                        <button id="btnCancelarmo" name="btnCancelarmo" type="button" onclick="cancelar()"
                            class="btn btn-danger" style="width:200px; height:40px;">Cancelar</button>
                    </div>
        
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group form-animate-text " style="margin-top:5px !important;">
                    <h4>Total mano de obra</h4>
                    <input type="text" class="form-text" value="0" id="totalMD" name="totalMD"
                     value="0" disabled>
                    <span class="bar"></span>
                </div>
            </div>
        
        </div>
       
        <br><br><br><br>
        <table class="table table-striped table-bordered" id="pmano" name="pmano">
            <thead>
                <tr
                    style=" background: #1a1b1b; color: #dff0f2; font-weight: bold; font-size: 14px; ">
                    <th>#</th>
                    <th>Descripción</th>
                    <th>Unidad</th>
                    <th>PU</th>
                    <th>Cantidad</th>
                    <th>subtotal</th>
                    <th colspan="2"> Opciones </th>
                </tr>
            </thead>

            <tbody style="color: #27575c;">

            </tbody>
        </table>
    </div>

</div>